@font-face {
  font-family: "ALSSchlangesans";
  src: url("../fonts/ALSSchlangesans/als_schlange_sans.eot");
  src: url("../fonts/ALSSchlangesans/als_schlange_sans.eot?#iefix") format("embedded-opentype"),
  url("../fonts/ALSSchlangesans/als_schlange_sans.woff2") format("woff"),
  url("../fonts/ALSSchlangesans/als_schlange_sans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.eot");
  src: url("../fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Calibri/Calibri.woff") format("woff"),
  url("../fonts/Calibri/Calibri.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

button {
  outline: none;
}

body {
  color: #ffffff;
  background-color: #18253a;
  font-family: Calibri, sans-serif;
  -webkit-font-smoothing: antialiased;
}

#scroller {
  position: fixed;
  margin: 2px;
  bottom: 70px;
  right: 30px;
  background: transparent url(../images/up-arrow.png) no-repeat left top;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  z-index: 9;
}

.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page {
  flex: 1 0 auto;
}

.title-wrap {
  .title {
    font-family: ALSSchlangesans, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
  }
}

.title-page {
  margin-bottom: 50px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4.8px;
  color: #ffffff;
}

.input-std {
  width: 100%;
  background: none;
  padding: 6px 0;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-color ease-in-out .15s;

  &:focus {
    border-color: #1764c2;
  }
}

.btn-blue {
  display: inline-block;
  padding: 9px 45px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background-color: #1654a1;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #1654a1;

  &:hover {
    color: #ffffff;
    background-color: #1764c2;
  }

  &:focus {
    color: #ffffff;
    background-color: #154c8f;
  }
}

.btn-clear {
  display: inline-block;
  padding: 9px 45px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background: none;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);

  &:hover {
    color: #ffffff;
    background-color: #1764c2;
    border: 1px solid #1764c2;
  }

  &:focus {
    color: #ffffff;
    background-color: #154c8f;
    border: 1px solid #154c8f;
  }
}

.btn-orange {
  width: 185px;
  display: inline-block;
  padding: 9px 9px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background: #ff9500;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ff9500;

  &:hover {
    color: #ffffff;
    border: 1px solid #ffa200;
    background-color: #ffa200;
    box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  }

  &:focus {
    color: #ffffff;
    background-color: #e37900;
    box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #e37900;
    outline: none;
  }
}

.btn-std {
  display: inline-block;
  text-decoration: none;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  padding: 10px 44px;

  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-fb {
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3b5998;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    color: #ffffff;
    text-decoration: none;
    background: #4164ac;
  }

  &:focus {
    text-decoration: none;
    color: #ffffff;
    background: #2b3f6a;
  }
}

.btn-vk {
  width: 180px;
  text-transform: uppercase;
  background-color: #3a6391;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    color: #ffffff;
    text-decoration: none;
    background: #577ca7;
  }

  &:focus {
    color: #ffffff;
    text-decoration: none;
    background: #355374;
  }
}

.btn-google {
  width: 180px;
  text-transform: uppercase;
  background-color: #dc4e41;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    color: #ffffff;
    text-decoration: none;
    background: #fc5d4f;
  }

  &:focus {
    color: #ffffff;
    text-decoration: none;
    background: #a63c32;
  }
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

  /* Safari 5+ ONLY */
  ::i-block-chrome, .catalog-menu li {
    margin-right: 40px !important;
  }

  .catalog-menu li:last-of-type {
    margin-right: 0 !important;
  }
}

.catalog-menu {

  li:hover {
    .svg path {
      fill: #f79000;
    }

    .name {
      color: #f79000;
    }
  }

  li.active {
    .svg path {
      fill: #f79000;
    }

    .name {
      color: #f79000;
      border-bottom: none !important;
    }

  }

}

#header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;

  .cart-block {
    margin-left: 40px;
  }
}

.fixed-header.fix-to-top {
  display: block;
}

.fixed-header {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 5px;
  background-color: #101d33;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #0e192e;
  padding: 14px 0 11px 0;

  .order-btn {
    display: inline-block;
    float: right;

    .btn-orange {
      padding: 7px 9px;
    }
  }

  .cart-block {
    margin-left: 90px;
    margin-top: 5px;
  }

  .catalog-menu {
    top: 80px !important;

    ul {
      margin-bottom: 15px;
      margin-top: 5px;
    }
  }
}

.header-wrapper {
  z-index: 2;
  .wrapper {
    position: relative;
  }

  .catalog-menu.catalog-rel {
    position: relative;

    ul {
      text-align: left;
    }
  }

  .catalog-menu.catalog-abs {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #152033;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #101c30;
    border-radius: 23px;
  }

  .catalog-menu {
    width: 100%;
    top: 15px;

    ul {
      padding-left: 0;
      text-align: center;
      margin-bottom: 22px;
      margin-top: 15px;

      li {
        display: inline-block;
        margin-right: 24px;
        list-style-type: none;
        text-align: center;

        a {
          display: block;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 1.25;
          color: #ffffff;

          .icon {
            margin-bottom: 15px;
          }

          .name {
            display: inline-block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
          }
        }

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          .name {
            border-bottom: none;
          }
        }
      }
    }
  }

  .logo {
    display: inline-block;
    margin-right: 37px;
  }

  .menu {
    display: inline-block;
    margin-right: 32px;

    button.active {
      background: #f79000;
      border: 1px solid #f79000;
    }

    button {
      background: none;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1;
      color: #ffffff;
      padding: 10px 14px;
      border-radius: 4px;
      border: solid 1px rgba(255, 255, 255, 0.3);
      text-decoration: none;

      .icons {
        float: left;
        margin-right: 6px;

        i {
          display: block;
          width: 24px;
          height: 2px;
          margin-bottom: 5px;
          background-color: #ffffff;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      .name {
        margin-top: 1px;
        display: inline-block;
      }
    }
  }

  .delivery {
    display: inline-block;
    margin-right: 20px;

    a {
      font-family: ALSSchlangesans, sans-serif;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1;
      color: #ffffff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);

      &:hover {
        border-bottom: none;
      }
    }
  }

  .phones {
    display: inline-block;
    padding: 11px 0;

    a {
      font-family: ALSSchlangesans, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .user-filter {
    text-align: right;
    margin-top: 10px;

    .city {
      display: inline-block;
      margin-right: 4px;
    }

    .lang {
      display: inline-block;
    }
  }

  .cart-block {
    position: relative;
    display: inline-block;

    .summa {
      width: 70px;
      margin-left: 15px;
    }

    .cart-form {
      width: 440px;
      position: absolute;
      top: 55px;
      right: -45px;
      z-index: 2;
      padding: 20px 25px;
      background-color: #152033;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      border: solid 1px #101c30;
      border-radius: 20px;

      a {
        display: inline-block;
        text-decoration: none;
      }

      .btn-clear {
        padding: 9px 25px;
        text-align: center;
      }

      .footer-form {
        padding-top: 20px;
      }

      .item {
        padding: 15px 0;
        overflow: hidden;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);

        &:last-of-type {
          border-bottom: none;
        }
      }

      .title {
        span {
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          color: #ffffff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }
      }

      .price {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: -0.6px;
        text-align: right;
        color: #ffffff;
      }

      .product-count {
        display: inline-block;
        line-height: 0;

        span {
          display: inline-block;
          font-size: 22px;
          vertical-align: middle;
          color: #ffffff;
        }

        .qty {
          width: 40px;
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px;
          padding: 3px 0;
          border-radius: 3px;
          background-color: #fafafa;
          font-family: Calibri, sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1;
          text-align: center;
          color: #3a414d;
        }

        .control {
          display: inline-block;
          vertical-align: middle;
          color: #ffffff;
        }

        .minus {
          font-size: 33px;
        }

        .plus {
          font-size: 22px;
        }
      }
    }

    .count {
      width: 20px;
      height: 20px;
      position: absolute;
      top: -4px;
      left: 17px;
      border-radius: 19px;
      background-color: #ff9500;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      color: #ffffff;
    }

    a.cart-link {
      display: flex;
      text-decoration: none;
      align-items: center;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1.22;
      letter-spacing: -0.8px;
      color: #ffffff;
    }

    a.cart-link.active {
      color: #FF9500;

      svg {
        path {
          fill: #FF9500;
        }
      }
    }

  }

  .user-block {
    position: relative;
    display: inline-block;
    float: right;

    a.link {
      width: 40px;
      height: 40px;
    }

    a.active {
      svg {
        path {
          fill: #FF9500;
        }
      }
    }

    a.logged-link {
      width: 33px;
      height: 33px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .auth-forms {
      width: 710px;
      position: absolute;
      z-index: 2;
      top: 55px;
      right: -55px;
      background-color: #152033;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid #101c30;
      padding: 30px 30px;
      border-radius: 20px;

      .login-form {
        padding-right: 55px;
        border-right: 1px solid rgba(255, 255, 255, 0.05);

        .title-form {
          margin-bottom: 25px;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.1;
          letter-spacing: 1.7px;
          color: #ffffff;
        }

        .form-group {
          margin-bottom: 16px;

          .help-block {
            margin-top: 4px;
            font-family: Calibri, sans-serif;
            font-size: 14px;
            line-height: 1.14;
            color: #ea4233;
          }
        }

        .login {
          margin-right: 16px;
        }

        .btn-clear {
          padding: 9px 37px;
        }

        .buttons {
          margin-top: 10px;
          margin-bottom: 20px;

        }

        .reset-pass {
          font-family: Calibri, sans-serif;
          font-size: 16px;
          text-decoration: none;
          line-height: 1.13;
          color: rgba(255, 255, 255, 0.5);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);

          &:hover {
            border-bottom: none;
          }
        }
      }

      .social-auth {
        text-align: center;

        .btn-std {
          margin-bottom: 15px;
        }

        .title-form {
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.38;
          text-align: center;
          color: rgba(255, 255, 255, 0.5);
        }

        .buttons {
          margin-top: 30px;
        }
      }
    }

    .logged-user {
      width: 271px;
      position: absolute;
      top: 55px;
      right: 0;
      z-index: 2;
      background-color: #152033;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      border: 1px solid #101c30;
      border-radius: 20px;

      ul {
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;

        li {
          a {
            display: block;
            margin: 0 24px;
            padding: 16px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);;
            font-family: ALSSchlangesans, sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: #ffffff;
            text-decoration: none;

            &:hover {
              color: #ffa200;
            }
          }

          &:last-of-type {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
  }

  select {
    width: 100%;
    font-family: ALSSchlangesans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    background: none;
    border: none;

    option {
      background: #ffffff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);
      color: #73807f;
    }

    &:focus {
      outline: none;
    }
  }
}

footer {
  padding-bottom: 30px;

  ul {
    padding-left: 0;
    list-style-type: none;

  }

  .logo-company {
    ul {
      li {
        display: inline-block;
        margin-right: 34px;

      }
    }
  }

  .menu {
    ul {
      li {
        display: inline-block;
        margin-right: 20px;

        a {
          text-decoration: none;
          font-family: Calibri, sans-serif;
          font-size: 14px;
          line-height: 1.43;
          color: #ffffff;
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          padding-bottom: 1px;

          &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
          }
        }
      }
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.5);;
  }

  .phones {
    .title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    li {
      margin-bottom: 5px;

      a {
        text-decoration: none;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        color: #ffffff;
      }

      span {
        opacity: 0.5;
      }
    }
  }

  .social {
    text-align: right;

    li {
      display: inline-block;
      margin-left: 10px;

      .fb {
        background-image: url("../images/fb.png");
      }

      .in {
        background-image: url("../images/insta.png");
      }

      .tr {
        background-image: url("../images/trip.png");
      }

      a {
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 32px;
        height: 32px;
      }
    }

  }

  .developed {
    text-align: right;

    a {
      text-decoration: none;
      font-family: Calibri, sans-serif;
      font-size: 14px;
      line-height: 1.14;
      text-align: right;
      color: rgba(255, 255, 255, 0.5);

      span {
        margin-left: 5px;
        border-bottom: 1px solid rgba(255, 149, 0, 0.2);
        font-family: ALSSchlangesans, sans-serif;
        font-size: 14px;
        line-height: 1.14;
        text-align: right;
        color: #ff9500;
      }
    }
  }
}

.page {
  padding-bottom: 100px;
}

.static-page {
  .content {
    font-size: 18px;
    letter-spacing: 0.010em;

    a {
      color: #ffffff;
    }

    ul {
      padding-left: 20px;
    }
  }
}

.home-page {

  .products-list-index {
    min-height: 500px;
  }

  .title-page {
    margin-bottom: 60px;
  }

  .catalog-menu {
    margin-bottom: 55px;

    ul {
      text-align: center;
      padding-left: 0;

      li {
        display: inline-block;
        margin-right: 27px;
        list-style-type: none;
        text-align: center;

        a {
          display: block;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
          line-height: 1.25;
          color: #ffffff;

          .icon {
            margin-bottom: 15px;
          }

          .name {
            display: inline-block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
          }
        }

        &:last-of-type {
          margin-right: 0;
        }

        &:hover {
          .name {
            border-bottom: none;
          }
        }
      }
    }

  }

  .slider-block {
    height: auto;
    position: relative;
    margin-top: 0;
    margin-bottom: 40px;
    z-index: 1;
    //padding-top: 90px;
    padding-bottom: 30px;
    //background: url("../images/slider_bg_2.jpg") no-repeat center;
    background-size: cover;

    .slick-track {
      outline: 0;
    }

    .items-slider {
      list-style-type: none;
      padding-left: 0;
      outline: 0;
    }

    .slick-dots {
      display: inline-block;
      text-align: center;
      bottom: 20px;

      li {
        display: inline-block;

        a {
          width: 16px;
          height: 16px;
          display: inline-block;
          border: solid 2px #ffffff;
          border-radius: 30px;
          margin-right: 5px;
        }
      }

      li.slick-active {
        a {
          background-color: #ff9500;
          border: 1px solid #ff9500;
        }
      }
    }

    .item {
      .title {
        margin-bottom: 8px;
        padding-top: 115px;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 68px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
      }

      .text {
        margin-bottom: 30px;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        line-height: 1.33;
        color: #ffffff;
      }

      .image {
        padding-top: 30px;
        text-align: center;

        img {
          display: inherit !important;
          width: 100%;
        }
      }

      .price {
        display: inline-block;
        padding-right: 8px;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 0.63;
        letter-spacing: -1px;
        color: #ffffff;
      }

      .count {
        padding-left: 8px;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        display: inline-block;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        line-height: 1.22;
        color: #ffffff;

        span {
          display: block;
        }
      }

      .btn-wrap {
        text-align: center;

        a {
          display: inline-block;
          padding: 11px 39px;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.33;
          text-align: center;
          text-transform: uppercase;

        }
      }

      .quantity-control {
        text-align: center;

        ul {
          display: inline-block;
          margin-bottom: 0;
          padding-left: 0;
          list-style-type: none;

          li {
            display: inline-block;
            float: left;
            margin: 0 3px;
            text-decoration: none;
            text-align: center;
            font-family: ALSSchlangesans, sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 40px;
            color: #ffffff;
          }

          .control-btn {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
          }

          .control-btn.minus {
            background-color: #3a414c;
            background-image: url(../images/icons/minus.png);
            background-repeat: no-repeat;
            background-position: center;
          }

          .control-btn.plus {
            background-color: #79d569;
            background-image: url(../images/icons/add.png);
            background-repeat: no-repeat;
            background-position: center;
          }

          .control-qty {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

  }

  .popular-products {

  }

  .reviews-block {
    margin-top: 55px;

    .recent-reviews {
      height: 210px;
    }

    .slick-track {
      padding-top: 10px;
    }

    .title-wrap {
      margin-bottom: 32px;

      .title {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
      }
    }

    .item {
      float: left;

      min-height: 192px;
      margin-right: 40px;
      border-radius: 15px;
      background-color: #18253a;
      box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;

      .image {
        width: 40px;
        display: inline-block;
        float: left;
        margin-right: 8px;

        img {
          width: 100%;
        }
      }

      .head {
        overflow: hidden;
        margin-bottom: 12px;
      }

      .info-item {
        .top {
          overflow: hidden;
          margin-bottom: 5px;
        }

        .star {
          margin-right: 15px;
          float: left;

          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 3px;
          }

          i.rating_star {
            background: url("../images/icons/star_orange.png") no-repeat;
          }

          i.rating_star_empty {
            background: url("../images/icons/star_gray.png") no-repeat;
          }
        }

        .time {
          margin-top: 1px;
          float: left;
          font-family: Calibri, sans-serif;
          font-size: 14px;
          line-height: 1.14;
          color: rgba(255, 255, 255, 0.5);
        }

        .name {
          display: inline-block;
          margin-right: 2px;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.11;
          color: #ffffff;
        }

        .product-title {
          display: inline;
          padding-bottom: 2px;
          border-bottom: 1px solid rgba(44, 95, 182, 0.2);
          font-family: ALSSchlangesans, sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.11;
          color: #ff9500;

          a {
            border-bottom: none;
            text-decoration: none;
            color: inherit;
          }
        }
      }

      .text {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #ffffff;
      }

    }

  }
}

.category-page {
  .breadcrumbs {
    margin-bottom: 40px;
  }

  .title-wrap {
    padding-bottom: 60px;
    overflow: hidden;
  }
}

.products-list-index {

  .product.simple {
    width: 32%;
    transition: box-shadow 0.3s ease-in-out;

    .image {
      min-height: 240px;

      img {
        border-radius: 20px;
        max-height: 235px;
        max-width: 100%;
      }
    }

    .description {
      overflow: hidden;
      padding: 0 30px;
    }

    .top {
      background-color: #18253a;
      position: relative;
      top: 120px;
      margin-top: -120px;

      -webkit-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
      -moz-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
      -ms-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
      -o-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
      transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;

    }

    &:hover {
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);

      .top {
        position: relative;
        top: 0;
        box-shadow: 0px -14px 8px rgba(23, 35, 55, 0.21), 0px -15px 0 #18253a;

      }
    }
  }

  .product {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0 5px;
    padding-bottom: 30px;
    padding-top: 25px;
    margin-bottom: 15px;
    border-radius: 25px;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    .top {
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;

      a {
        text-decoration: none;
      }
    }

    .footer {
      min-height: 50px;
    }

    .add-to-cart {
      //overflow: hidden;
    }

    .quantity-control {
      text-align: center;

      ul {
        display: inline-block;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;

        li {
          display: inline-block;
          float: left;
          margin: 0 3px;
          text-decoration: none;
          text-align: center;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 18px;
          font-weight: bold;
          line-height: 40px;
          color: #ffffff;
        }

        .control-btn {
          cursor: pointer;
          width: 40px;
          height: 40px;
          border-radius: 100px;
          box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .control-btn.minus {
          background-color: #3a414c;
          background-image: url(../images/icons/minus.png);
          background-repeat: no-repeat;
          background-position: center;
        }

        .control-btn.plus {
          background-color: #79d569;
          background-image: url(../images/icons/add.png);
          background-repeat: no-repeat;
          background-position: center;
        }

        .control-qty {
          width: 40px;
          height: 40px;
        }
      }
    }

    .image {
      text-align: center;
      margin-bottom: 8px;

    }

    .title {
      font-family: ALSSchlangesans, sans-serif;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      line-height: 1.27;
      color: #ffffff;
      margin-bottom: 15px;

      a {
        text-decoration: none;
        color: inherit;
      }

      span {
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      }

      &:hover {
        span {
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        }
      }
    }

    .text {
      min-height: 100px;
      font-family: Calibri, sans-serif;
      font-size: 16px;
      line-height: 1.25;
      color: #ffffff;
      margin-bottom: 25px;
    }

    .price {
      display: inline-block;
      float: left;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.07;
      letter-spacing: -0.9px;
      color: #ffffff;
      padding-right: 8px;
      padding-top: 6px;
    }

    .count {
      display: inline-block;
      float: left;
      color: #ffffff;
      font-family: Calibri, sans-serif;
      font-size: 15px;
      line-height: 1.2;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      padding-left: 8px;

      span {
        display: block;
      }
    }

    .btn-orange {
      width: 130px;
    }

    .btn-wrap {
      text-align: center;

      a {

        font-family: ALSSchlangesans, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        border-radius: 100px;
        background-color: #ff9500;
        box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
        padding: 7px 35px;

        &:hover {
          background-color: #ffa200;
        }

        &:focus {
          background-color: #e37900;
        }
      }
    }
  }

  .top-left {
    width: 68%;
    height: 370px;

    .image {
      float: left;
    }

    .title {
      line-height: 1.1;
      margin-bottom: 16px;
      font-size: 32px;
      text-align: left;
    }

    .description {
      float: left;
      padding-top: 50px;
      padding-right: 30px;
    }
  }

  .top-right {
    width: 30%;
    float: right;

    .image {
      margin-bottom: 30px;
      margin-top: 17px;
    }

    .title {
      font-size: 32px;
      text-align: left;
    }

    .description {
      padding-right: 10px;
    }
  }

  .bottom-left {
    width: 33%;

    .title {
      font-size: 32px;
      text-align: left;
    }

    .description {
      width: 80%;
      margin: 0 auto;
    }

  }
}

.product-single {

  .breadcrumbs {
    margin-bottom: 50px;
  }

  .products-list-index {
    .product {
      margin: 0;

      .image {
        min-height: 200px;

        img {
          max-height: 200px;
          max-width: 280px;
        }
      }
    }
  }

  .slider {

    &:focus {
      outline: none;
    }

    .slick-slide {
      text-align: center;
      padding-left: 20px;

      img {
        width: 100%;
        display: inline-block;
      }
    }

    .slick-prev:before, .slick-next:before {
      color: black;
    }

    div:focus {
      outline: none;
    }

    .slick-dots {
      top: 5%;
      left: 0;
      list-style-type: none;
      padding-left: 0;

      li.slick-active {
        opacity: 1;
      }

      li {
        display: inherit;
        position: relative;
        top: 0;
        left: 0;
        width: 70px;
        height: 70px;
        margin: 0;
        opacity: 0.4;
        cursor: pointer;

        img {
          width: 100%;
        }

        a {
          display: inline-block;
          padding: 5px 9px;
          border-radius: 10px;
          background-color: #141e30;
          box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }

  }

  .recommendslider {
    .item {
      .image {
        img {
          margin: 0 auto;
        }
      }
    }
  }

  .right-block {
    .product {
      padding-left: 25px;
      padding-top: 40px;

      .title {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 48px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        padding-bottom: 15px;
      }

      .review-block {
        padding-bottom: 24px;

        .review-count {
          display: inline-block;
          margin-left: 10px;
          padding-bottom: 2px;
          border-bottom: 1px solid rgba(252, 213, 84, 0.25);;
          font-family: Calibri, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1;
          color: #fcd555;

          a {
            text-decoration: none;
            color: inherit;
          }

          &:hover {
            border-bottom: none;
          }
        }
      }

      .text {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1.25;
        color: #ffffff;
        margin-bottom: 10px;
      }

      .composition {
        span {
          display: block;
          font-style: normal;
        }

        font-style: italic;
      }

      .footer {
        .price {
          display: inline-block;
          float: left;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 36px;
          font-weight: bold;
          line-height: 1.07;
          letter-spacing: -0.9px;
          color: #ffffff;
          padding-right: 8px;
          padding-top: 6px;
        }

        .count {
          display: inline-block;
          float: left;
          color: #ffffff;
          font-family: Calibri, sans-serif;
          font-size: 15px;
          line-height: 1.2;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          padding-left: 8px;

          span {
            display: block;
          }
        }

        .add-to-cart {
          text-align: center;
          text-transform: uppercase;

          .btn-orange {
            width: 168px;
          }
        }
      }

      .quantity-control {
        text-align: center;

        ul {
          display: inline-block;
          margin-bottom: 0;
          padding-left: 0;
          list-style-type: none;

          li {
            display: inline-block;
            float: left;
            margin: 0 3px;
            text-decoration: none;
            text-align: center;
            font-family: ALSSchlangesans, sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 40px;
            color: #ffffff;
          }

          .control-btn {
            cursor: pointer;
            width: 40px;
            height: 40px;
            border-radius: 100px;
            box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
          }

          .control-btn.minus {
            background-color: #3a414c;
            background-image: url(../images/icons/minus.png);
            background-repeat: no-repeat;
            background-position: center;
          }

          .control-btn.plus {
            background-color: #79d569;
            background-image: url(../images/icons/add.png);
            background-repeat: no-repeat;
            background-position: center;
          }

          .control-qty {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }

  .recommended {
    min-height: 400px;
    background: #162235;
    padding: 35px 0 60px 0;
    margin-top: 80px;

    .title-wrap {
      margin-bottom: 16px;

      .title {
        font-size: 32px;
      }
    }

    .products-list {
      .product {
        .image {
          display: flex;
          margin-bottom: 8px;
          height: 240px;
          justify-content: center;
          align-items: center;
        }

        .title {
          text-align: center;
          margin-bottom: 15px;

          span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
            font-family: ALSSchlangesans, sans-serif;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.27;
            color: #ffffff;
          }
        }

        .price {
          display: inline-block;
          float: left;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 28px;
          font-weight: bold;
          line-height: 1.07;
          letter-spacing: -0.9px;
          color: #ffffff;
          padding-right: 8px;
          padding-top: 6px;
        }

        .count {
          display: inline-block;
          float: left;
          color: #ffffff;
          font-family: Calibri, sans-serif;
          font-size: 15px;
          line-height: 1.2;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          padding-left: 8px;

          span {
            display: block;
          }
        }

        .btn-wrap {
          text-align: center;

          a {
            font-family: ALSSchlangesans, sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            text-align: center;
            color: #ffffff;
            border-radius: 100px;
            background-color: #ff9500;
            box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
            padding: 7px 35px;
          }
        }
      }
    }
  }

  .reviews-block {
    padding-top: 50px;

    .title-wrap {
      padding-bottom: 65px;

      .title {
        font-size: 32px;
      }
    }

    .wrap-form {
      border-radius: 20px;
      background-color: #18253a;
      box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
      padding: 32px 24px;
      margin-bottom: 20px;

      .title {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        color: #ffffff;
        margin-bottom: 8px;
      }

      .caption {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 16px;
      }

      .btn-wrap {
        a {
          padding: 9px 27px;
          cursor: pointer;
        }
      }

      .noauthorized {
        .text {
          margin-bottom: 10px;
        }

        .rating {
          font-size: 16px;
          margin-bottom: 10px;

          span {
            float: left;
          }

          fieldset {
            display: inline-block;
            margin-top: 3px;
            margin-left: 10px;
          }

          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 3px;
            cursor: pointer;
          }

          i.rating_star {
            background: url("../images/icons/star_orange.png") no-repeat;
          }

          i.rating_star_empty {
            background: url("../images/icons/star_gray.png") no-repeat;
          }
        }
      }
    }

    .reviews-list {
      .review {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.2);

        .user-info {
          .user-image {
            display: block;
            width: 50px;
            margin-right: 10px;
            float: left;

            img {
              width: 100%;
            }
          }

          .user-name {
            display: block;
            float: left;

            .star {
              margin-bottom: 5px;
            }

            .name {
              font-family: ALSSchlangesans, sans-serif;
              font-size: 18px;
              font-weight: bold;
              line-height: 1.11;
              color: #ffffff;
            }
          }
        }

        .date {
          font-family: Calibri, sans-serif;
          font-size: 14px;
          line-height: 1.14;
          text-align: right;
          color: rgba(255, 255, 255, 0.5);
        }

        .text {
          font-family: Calibri, sans-serif;
          font-size: 16px;
          margin-top: 8px;
          line-height: 1.5;
          color: #ffffff;
        }

        &:first-of-type {
          padding-top: 0;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

}

.delevery-page {

  .section {
    margin-bottom: 50px;
    padding-right: 10px;

    .section-title {
      overflow: hidden;
      margin-bottom: 10px;

      .title {
        margin-top: 3px;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.33;
        letter-spacing: 2.4px;
        color: #ffffff;
      }

      .number {
        display: inline-block;
        float: left;
        margin-right: 16px;
        padding: 7px 11px;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #ff9500;
        border-radius: 52px;
        border: solid 2px #ff9500;
        line-height: 0.8;
        text-align: center;
      }

    }

    .bold-title {
      margin-bottom: 13px;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 21px;
      font-weight: bold;
      line-height: 1.22;
      color: #ffffff;
    }

    .section-text {
      margin-bottom: 15px;
      font-family: Calibri, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.8);
    }

    .info {
      display: flex;
      align-items: center;
      margin-bottom: 24px;

      .summa {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.11;
        color: #ffffff;
        margin-bottom: 3px;
      }

      .caption {
        font-family: Calibri, sans-serif;
        font-size: 15px;
        font-style: italic;
        line-height: 1.07;
        color: rgba(255, 255, 255, 0.5);
      }

      &:before {
        float: left;
        margin-right: 8px;
        opacity: 0.3;
      }
    }

    .info-summa {
      &:before {
        content: url("../images/icon-price.png");

      }
    }

    .info-time {
      &:before {
        content: url("../images/icon-time.png");

      }
    }

    .info-address {
      .summa {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.38;
        color: #ffffff;
      }

      &:before {
        content: url("../images/icon-address.png");

      }
    }
  }

  .map {
    text-align: right;
    margin-bottom: 43px;

    img {
      border-radius: 20px;
    }
  }
}

.cart-page {

  .title-page {
    margin-bottom: 25px;
  }

  .inline-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  .product {
    margin-right: 40px;
    padding: 25px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);;

    &:last-of-type {
      border-bottom: none;
    }

    .image {
      width: 15.5%;

      img {
        width: 80%;
      }
    }

    .info {
      width: 50%;
      padding-left: 20px;

      .title {
        display: inline-block;
        padding-bottom: 2px;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.11;
        color: #ffffff;

        span {
          border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        }

      }

      .text {
        margin-top: 4px;
        font-family: Calibri, sans-serif;
        font-size: 15px;
        line-height: 1.2;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .product-count {
      .plus {
        display: inline-block;
        font-size: 22px;
        vertical-align: middle;
        color: #ffffff;
      }

      .minus {
        display: inline-block;
        font-size: 33px;
        vertical-align: middle;
        color: #ffffff;
      }

      .count {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        padding: 3px 0;
        border-radius: 3px;
        background-color: #fafafa;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #3a414d;
      }

    }

    .price {
      width: 15%;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: -0.7px;
      text-align: center;
      color: #ffffff;
    }

    .delete {
      width: 3%;
      text-align: center;
    }
  }

  .block-summa {
    border-radius: 20px;
    background-color: #18253a;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    padding: 32px 24px 40px 24px;

    .title {
      padding-bottom: 8px;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 24px;
      font-weight: bold;
      line-height: 1;
      color: #ffffff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);;
    }

    .product-count {
      overflow: hidden;
      padding-top: 17px;

      .name {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
      }

      .count {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        text-align: right;
        color: #ffffff;
      }
    }

    .product-summ {
      overflow: hidden;
      padding-top: 22px;
      padding-bottom: 26px;

      .name {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
      }

      .count {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: -1px;
        text-align: right;
        color: #ffffff;
      }
    }

    .btn-wrap {
      text-align: center;

      a {
        padding: 15px 62px;
        border-radius: 100px;
        background-color: #ff9500;
        box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
      }
    }
  }

}

.cabinet-page {

  #avatarModal {
    text-align: center;

    button {
      margin-top: 15px;
    }
  }

  img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    overflow: hidden;
  }

  img-crop canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    /* mobile webkit */
  }

  .cropArea {
    margin: 0 auto;
    background: #E4E4E4;
    overflow: hidden;
    height: 250px;
  }

  .new-image {
    height: 250px;
  }

  form .progress {
    line-height: 15px;
  }

  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
  }

  .progress div {
    font-size: smaller;
    background: orange;
    width: 0;
  }

  .user-block {
    overflow: hidden;
    padding: 24px 24px 16px 24px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: #18253a;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);

    .image {
      width: 55px;

      img {
        width: 100%;
        border-radius: 100%;
      }
    }

    .info {
      padding-left: 20px;

      .name {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.33;
        color: #ffffff;
      }

      .age {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        line-height: 1;
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .more-info {
      margin-top: 8px;

      .field {
        overflow: hidden;
        padding: 16px 0;
        border-bottom: 1px solid rgba(215, 215, 215, 0.05);;

        .name {
          text-transform: uppercase;
          font-family: Calibri, sans-serif;
          font-size: 16px;
          line-height: 1.5;
          color: rgba(255, 255, 255, 0.5);
        }

        .value {
          font-family: Calibri, sans-serif;
          font-size: 16px;
          line-height: 1.5;
          text-align: right;
          color: #ffffff;
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

  .right-block {
    margin-left: 20px;

    .btn {
      font-size: 16px;
      outline: none;
    }

    .input {
      position: relative;
      margin-bottom: 30px;
      margin-top: 25px;

      label {
        position: absolute;
        top: 5px;
        left: 0;
        font-family: Calibri, sans-serif;
        font-size: 17px;
        font-weight: 100;
        line-height: 1.33;
        color: rgb(153, 153, 153);
        z-index: -1;
        transition: 0.3s;
      }

      input[type="text"] {
        padding: 5px 1px;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        line-height: 1.33;
        color: #ffffff;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: none;
        background-color: transparent;

        &:focus {
          box-shadow: none;
          border-bottom: 1px solid #1764c2;

          ~ label {
            top: -15px;
            font-size: 14px;

          }
        }
      }
    }

    .has-content {
      label {
        top: -15px;
        font-size: 14px;
      }
    }

    .settings {
      .input {
        margin-bottom: 10px;
      }

      select {
        outline: 0;

        option {
          padding: 5px 0;
          outline: 0;
          background: #18253a;
        }

      }
    }

    .menu-cabinet {
      margin-top: 8px;

      ul {
        padding-left: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 45px;

          a {
            text-transform: uppercase;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            text-decoration: none;
            font-family: ALSSchlangesans, sans-serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.11;
            color: #ffffff;

            &:hover {
              border-bottom: none;
            }
          }
        }

        li.active {
          a {
            color: #ff9500;
            border-bottom: 3px solid #ff9500;
          }
        }
      }
    }

    .order-histories {
      .order {
        padding: 35px 0;
        border-bottom: 1px solid rgba(215, 215, 215, 0.1);

        .inline-wrapper {
          display: inline-block;
          vertical-align: middle;
        }

        .order-number {
          display: block;
          font-family: Calibri, sans-serif;
          font-size: 16px;
          color: rgba(255, 255, 255, 0.5);
        }

        .count-product {
          cursor: pointer;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          color: #ffffff;
          width: 24%;

          span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
          }

          &:hover {
            span {
              border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            }
          }
        }

        .date {
          width: 26%;
          font-family: Calibri, sans-serif;
          font-size: 16px;
          line-height: 1.25;
          text-align: center;
          color: rgba(255, 255, 255, 0.8);
        }

        .status {
          width: 20%;
          font-family: Calibri, sans-serif;
          font-size: 16px;
          line-height: 1.25;
          text-align: center;
        }

        .status.true {
          color: #79d469;
        }

        .repeat {
          width: 28%;
          text-align: center;

          .btn-wrap {
            a {
              padding: 9px 30px;
              border-radius: 100px;
              border: solid 1px rgba(255, 255, 255, 0.3);
              font-family: ALSSchlangesans, sans-serif;
              font-size: 16px;
              font-weight: bold;
              line-height: 1.5;
              text-align: center;
              text-decoration: none;
              color: #ffffff;
            }
          }
        }

        &:last-of-type {
          border-bottom: none;
        }

        .products-list {
          display: none;
          padding-top: 20px;

          a {
            text-decoration: none;

            &:hover {
              .info {
                .title {
                  span {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                  }
                }
              }
            }
          }

          .product {
            padding: 15px 0;

            .image {
              width: 16%;

              img {
                width: 77%;
              }
            }

            .info {
              width: 50%;

              .title {
                margin-bottom: 5px;
                font-family: ALSSchlangesans, sans-serif;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.11;
                color: #ffffff;

                span {
                  padding-bottom: 2px;
                  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                }
              }

              .text {
                font-family: Calibri, sans-serif;
                font-size: 15px;
                line-height: 1.2;
                color: rgba(255, 255, 255, 0.8);
              }
            }

            .count {
              width: 16%;
              text-align: center;
              font-family: ALSSchlangesans, sans-serif;
              font-size: 16px;
              font-weight: bold;
              line-height: 1.5;
              color: #ffffff;
            }

            .summa {
              width: 16%;
              font-family: ALSSchlangesans, sans-serif;
              font-size: 16px;
              font-weight: bold;
              line-height: 1.5;
              letter-spacing: -0.5px;
              text-align: right;
              color: #ffffff;
            }
          }
        }
      }
    }

  }
}

.checkout-page {
  .title-page {
    margin-bottom: 25px;
  }

  .section {
    margin-bottom: 48px;

    .text {
      font-family: Calibri, sans-serif;
      font-size: 16px;
      line-height: 1.13;
      color: rgba(255, 255, 255, 0.8);
    }

    .title {
      margin-top: 25px;
      margin-bottom: 25px;
      font-family: ALSSchlangesans, sans-serif;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.1;
      color: #ffffff;

      span {
        border-radius: 52px;
        border: 2px solid #ffffff;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        color: #ffffff;
        padding: 1px 7px;
      }

    }

    .input {
      position: relative;
      display: inline-block;

      &:last-of-type {
        margin-right: 0;

        input {
          margin-right: 0;
        }
      }

      label {
        position: absolute;
        top: 14px;
        left: 0;
        font-family: Calibri, sans-serif;
        font-size: 17px;
        font-weight: 100;
        line-height: 1.33;
        color: rgb(153, 153, 153);
        z-index: -1;
        transition: 0.3s;
      }

      input[type="text"], input[type="email"], input[type="time"] {
        padding: 5px 1px;
        font-family: Calibri, sans-serif;
        font-size: 17px;
        line-height: 1.33;
        color: #ffffff;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: none;
        background-color: transparent;

        &:focus {
          box-shadow: none;
          border-bottom: 1px solid #1764c2;

          ~ label {
            top: -8px;
            font-size: 14px;

          }
        }
      }
    }

    .has-content {
      label {
        top: -8px;
        font-size: 14px;
      }
    }

  }

  .section-first {
    .form-control {
      width: 215px;
      margin-right: 20px;
    }

    .input {
      .name {
        background: url("../images/icons/icon-user.png") no-repeat left center;
        padding-left: 32px !important;

      }

      label {
        left: 30px;
      }
    }

    .input {
      .email {
        background: url(../images/icons/icon-email.png) no-repeat 0px 14px;
        padding-left: 32px !important;
        background-size: 22px;

      }

      label {
        left: 30px;
      }
    }

    .input .phone {
      background: url("../images/icons/icon-phone.png") no-repeat left center;
      padding-left: 32px !important;
    }
  }

  .section-second {
    .input {
      margin-right: 15px;
      margin-bottom: 15px;
      margin-top: 10px;
    }

    .delivery-type {
      margin-bottom: 30px;

      input[type=radio], input[type=checkbox] {
        display: none;
      }

      label:first-of-type {
        margin-right: -4px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
      }

      label:last-of-type {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
      }

      input[type=radio] + label, input[type=checkbox] + label {
        display: inline-block;
        width: 160px;
        padding: 9px 8px;
        margin-bottom: 0;
        font-family: ALSSchlangesans, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-repeat: repeat-x;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }

      input[type=radio]:checked + label, input[type=checkbox]:checked + label {
        background-image: none;
        outline: 0;
        background-color: #ff9500;
        border: 1px solid #ff9500;
      }
    }

    .street {
      width: 35%;
    }

    .home {
      width: 17%;
    }

    .apartment {
      width: 23%;
    }

    .time {
      width: 200px;

      input {
        text-align: right;

        &:focus {
          ~ label {
            font-size: 17px !important;
            top: 14px !important;
          }
        }
      }
    }
  }

  .section-third {

    label {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 25px;
      margin-right: 15px;
      font-size: 13px;
    }

    input[type=radio] {
      width: 0.5px;
    }

    label:before {
      content: "";
      display: inline-block;

      width: 18px;
      height: 18px;

      margin-right: 10px;
      position: absolute;
      left: 0;
      bottom: 1px;
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);

    }

    input[type=radio]:checked + label:before {
      content: url("../images/icons/checked.png");
      color: #f3f3f3;
      font-size: 30px;
      text-align: center;
      line-height: 5px;
      border-radius: 50px;
      background-color: #ff9500;
      border: 1px solid #ff9500;
    }

    .text {
      margin-top: 16px;
    }

    .input-checkbox {
      display: flex;
      margin-bottom: 9px;

      label {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.13;
        color: #ffffff;
      }

      span {
        font-family: Calibri, sans-serif;
        font-size: 16px;
        font-weight: 100;
        line-height: 1.13;
        color: #ffffff;
      }

      .price {
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        margin-left: 5px;
      }
    }

    .wrap {
      margin-bottom: 25px;
    }
  }

  .right-block {
    float: right;
    width: 372px;
    padding: 32px 24px;
    border-radius: 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);

    .alert-warning {
      font-size: 18px;
      padding: 10px;
      border-color: #ff0000;
    }

    .section {
      margin-bottom: 0;

      .input {
        display: block;
      }
    }

    .title-wrap {
      margin-bottom: 30px;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);

      .title {
        font-size: 24px;
      }
    }

    .field {
      overflow: hidden;
      margin-bottom: 9px;

      .name {
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8);
      }

      .value {
        font-family: ALSSchlangesans, sans-serif;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.33;
        text-align: right;
        color: #ffffff;
      }
    }

    .section-title {
      font-family: ALSSchlangesans, sans-serif;
      font-size: 16px;
      font-weight: bold;
      line-height: 1;
    }

    .total {
      .name {
        font-size: 24px;
      }

      .value {
        font-size: 32px;
      }
    }

    .summa {
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    .payment {
      margin-top: 24px;
      margin-bottom: 25px;

      .section-title {
        margin-bottom: 16px;
      }

      .payment-type {
        text-align: center;

        input[type=radio], input[type=checkbox] {
          display: none;
        }

        label:first-of-type {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }

        label:last-of-type {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }

        input[type=radio] + label, input[type=checkbox] + label {
          display: inline-block;
          width: 160px;
          margin: -2px;
          padding: 9px 8px;
          margin-bottom: 0;
          font-family: ALSSchlangesans, sans-serif;
          font-size: 16px;
          line-height: 20px;
          color: #ffffff;
          text-align: center;
          vertical-align: middle;
          cursor: pointer;
          background-repeat: repeat-x;
          border: 1px solid rgba(255, 255, 255, 0.2);
        }

        input[type=radio]:checked + label, input[type=checkbox]:checked + label {
          background-image: none;
          outline: 0;
          background-color: #ff9500;
          border: 1px solid #ff9500;
        }
      }

    }

    .zdacha {
      margin-bottom: 24px;

      textarea {
        font-size: 15px;
        color: white;
        min-height: 90px;
        min-width: 200px;
        max-width: 330px;
        background-color: rgba(113, 113, 113, 0);
        border: 1px solid rgba(255, 255, 255, 0.1);
      }

      input {
        padding: 10px 1px;
        font-family: Calibri, sans-serif;
        font-size: 18px;
        line-height: 1.33;
        color: #ffffff;
        background: none;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:focus {
          box-shadow: none;
          border-bottom: 1px solid #1764c2;
        }
      }
    }

    .info {
      margin-top: 10px;
      .text-sm{
        font-family: Calibri, sans-serif;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    .promocode {
      font-family: ALSSchlangesans, sans-serif;
      margin-bottom: 35px;

      .input {
        display: flex;

        input {
          font-size: 15px;

          &:focus {
            outline: none;
          }
        }
      }

      button {
        font-family: ALSSchlangesans, sans-serif;
        width: 100%;
        background: #ff9500;
        border: none;
        border-radius: 5px;
      }
    }

    .btn-wrap {
      text-align: center;

      .btn {
        width: inherit;
        font-size: 20px;
        line-height: 1.2;
        padding: 14px 60px;
        text-transform: uppercase;
        outline: 0;
      }
    }
  }
}

.breadcrumbs {
  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      display: inline-block;
      text-decoration: none;
      font-family: Calibri, sans-serif;
      opacity: 0.5;
      font-size: 16px;

      a {
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);

        &:hover {
          border-bottom: none;
        }
      }

      &:after {
        content: " — ";
        display: inline-block;
        opacity: 0.5;
        margin: 0 7px;
      }

      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }

}

.title-wrap {
  .title-category {
    text-transform: uppercase;
    font-family: ALSSchlangesans, sans-serif;
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 4.8px;
    color: #ffffff;
  }
}

.rating-star-wrap {
  i {
    display: inline-block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 3px;
  }

  .rating_star {
    background: url(../images/icons/star_orange.png) no-repeat;
  }

  .rating_star_empty {
    background: url(../images/icons/star_gray.png) no-repeat;
  }
}

.fix-to-top {
  position: fixed;
  top: 0;
}

/**/

.add-to-cart.flip .action {
  display: none;
}

.add-to-cart {
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

.add-to-cart .front {
  z-index: 900;
  width: inherit;
  height: inherit;

  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.add-to-cart.flip .front {
  z-index: 900;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);

}

.add-to-cart .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
  width: inherit;
  height: inherit;

  -webkit-transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateX(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;

  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.add-to-cart.flip .back {
  z-index: 1000;

  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.mobile-cart {
  position: fixed;
  bottom: -70px;
  width: 100%;
  background-color: #18253a;
  box-shadow: 0 -10px 25px 0 rgba(0, 0, 0, 0.2);
  padding-top: 14px;
  padding-bottom: 12px;
  opacity: 0;

  .dish-count {
    text-transform: uppercase;
    font-family: ALSSchlangesans, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
    color: rgba(255, 255, 255, 0.5);
  }

  .order-summ {
    font-family: ALSSchlangesans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: -0.8px;
    color: #ffffff;
  }

  .btn-wrap {
    text-align: center;

    .btn-orange {
      width: 140px;
      padding: 7px 9px;
    }
  }
}

.show-block {
  .mobile-cart {
    bottom: 0;
    opacity: 1;
    -webkit-transition: bottom 1s ease-in-out;
    -moz-transition: bottom 1s ease-in-out;
    -o-transition: bottom 1s ease-in-out;
    -ms-transition: bottom 1s ease-in-out;
    transition: bottom 1s ease-in-out;

  }
}

#citymodal {
  text-align: center;

  .modal-content {
    padding: 35px 0;
  }

  .modal-title {
    color: #000;
    margin-bottom: 30px;
  }

  input {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  label {
    display: inline-block;
    font-size: 16px;
    padding: 6px 20px;
  }

  input[type="radio"]:checked + label {
  }

  input[type="radio"]:focus + label {

  }
}

.modal-backdrop.in {
  opacity: .8;
}









