@font-face {
  font-family: "ALSSchlangesans";
  src: url("../fonts/ALSSchlangesans/als_schlange_sans.eot");
  src: url("../fonts/ALSSchlangesans/als_schlange_sans.eot?#iefix") format("embedded-opentype"), url("../fonts/ALSSchlangesans/als_schlange_sans.woff2") format("woff"), url("../fonts/ALSSchlangesans/als_schlange_sans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri/Calibri.eot");
  src: url("../fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri.woff") format("woff"), url("../fonts/Calibri/Calibri.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
button {
  outline: none;
}
body {
  color: #ffffff;
  background-color: #18253a;
  font-family: Calibri, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#scroller {
  position: fixed;
  margin: 2px;
  bottom: 70px;
  right: 30px;
  background: transparent url(../images/up-arrow.png) no-repeat left top;
  background-size: cover;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  z-index: 9;
}
.main-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page {
  flex: 1 0 auto;
}
.title-wrap .title {
  font-family: ALSSchlangesans, sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
}
.title-page {
  margin-bottom: 50px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 4.8px;
  color: #ffffff;
}
.input-std {
  width: 100%;
  background: none;
  padding: 6px 0;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  outline: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: border-color ease-in-out 0.15s;
}
.input-std:focus {
  border-color: #1764c2;
}
.btn-blue {
  display: inline-block;
  padding: 9px 45px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background-color: #1654a1;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #1654a1;
}
.btn-blue:hover {
  color: #ffffff;
  background-color: #1764c2;
}
.btn-blue:focus {
  color: #ffffff;
  background-color: #154c8f;
}
.btn-clear {
  display: inline-block;
  padding: 9px 45px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background: none;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.btn-clear:hover {
  color: #ffffff;
  background-color: #1764c2;
  border: 1px solid #1764c2;
}
.btn-clear:focus {
  color: #ffffff;
  background-color: #154c8f;
  border: 1px solid #154c8f;
}
.btn-orange {
  width: 185px;
  display: inline-block;
  padding: 9px 9px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none !important;
  color: #ffffff;
  border-radius: 100px;
  background: #ff9500;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #ff9500;
}
.btn-orange:hover {
  color: #ffffff;
  border: 1px solid #ffa200;
  background-color: #ffa200;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn-orange:focus {
  color: #ffffff;
  background-color: #e37900;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #e37900;
  outline: none;
}
.btn-std {
  display: inline-block;
  text-decoration: none;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  padding: 10px 44px;
}
.btn-std:hover {
  text-decoration: none;
  color: #ffffff;
}
.btn-fb {
  width: 180px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #3b5998;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn-fb:hover {
  color: #ffffff;
  text-decoration: none;
  background: #4164ac;
}
.btn-fb:focus {
  text-decoration: none;
  color: #ffffff;
  background: #2b3f6a;
}
.btn-vk {
  width: 180px;
  text-transform: uppercase;
  background-color: #3a6391;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn-vk:hover {
  color: #ffffff;
  text-decoration: none;
  background: #577ca7;
}
.btn-vk:focus {
  color: #ffffff;
  text-decoration: none;
  background: #355374;
}
.btn-google {
  width: 180px;
  text-transform: uppercase;
  background-color: #dc4e41;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.btn-google:hover {
  color: #ffffff;
  text-decoration: none;
  background: #fc5d4f;
}
.btn-google:focus {
  color: #ffffff;
  text-decoration: none;
  background: #a63c32;
}
.animate-show-hide.ng-hide {
  opacity: 0;
}
.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}
.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari 5+ ONLY */
  ::i-block-chrome,
  .catalog-menu li {
    margin-right: 40px !important;
  }
  .catalog-menu li:last-of-type {
    margin-right: 0 !important;
  }
}
.catalog-menu li:hover .svg path {
  fill: #f79000;
}
.catalog-menu li:hover .name {
  color: #f79000;
}
.catalog-menu li.active .svg path {
  fill: #f79000;
}
.catalog-menu li.active .name {
  color: #f79000;
  border-bottom: none !important;
}
#header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
}
#header .cart-block {
  margin-left: 40px;
}
.fixed-header.fix-to-top {
  display: block;
}
.fixed-header {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 5px;
  background-color: #101d33;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #0e192e;
  padding: 14px 0 11px 0;
}
.fixed-header .order-btn {
  display: inline-block;
  float: right;
}
.fixed-header .order-btn .btn-orange {
  padding: 7px 9px;
}
.fixed-header .cart-block {
  margin-left: 90px;
  margin-top: 5px;
}
.fixed-header .catalog-menu {
  top: 80px !important;
}
.fixed-header .catalog-menu ul {
  margin-bottom: 15px;
  margin-top: 5px;
}
.header-wrapper {
  z-index: 2;
}
.header-wrapper .wrapper {
  position: relative;
}
.header-wrapper .catalog-menu.catalog-rel {
  position: relative;
}
.header-wrapper .catalog-menu.catalog-rel ul {
  text-align: left;
}
.header-wrapper .catalog-menu.catalog-abs {
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #152033;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #101c30;
  border-radius: 23px;
}
.header-wrapper .catalog-menu {
  width: 100%;
  top: 15px;
}
.header-wrapper .catalog-menu ul {
  padding-left: 0;
  text-align: center;
  margin-bottom: 22px;
  margin-top: 15px;
}
.header-wrapper .catalog-menu ul li {
  display: inline-block;
  margin-right: 24px;
  list-style-type: none;
  text-align: center;
}
.header-wrapper .catalog-menu ul li a {
  display: block;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.25;
  color: #ffffff;
}
.header-wrapper .catalog-menu ul li a .icon {
  margin-bottom: 15px;
}
.header-wrapper .catalog-menu ul li a .name {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header-wrapper .catalog-menu ul li:last-of-type {
  margin-right: 0;
}
.header-wrapper .catalog-menu ul li:hover .name {
  border-bottom: none;
}
.header-wrapper .logo {
  display: inline-block;
  margin-right: 37px;
}
.header-wrapper .menu {
  display: inline-block;
  margin-right: 32px;
}
.header-wrapper .menu button.active {
  background: #f79000;
  border: 1px solid #f79000;
}
.header-wrapper .menu button {
  background: none;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
  padding: 10px 14px;
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
.header-wrapper .menu button .icons {
  float: left;
  margin-right: 6px;
}
.header-wrapper .menu button .icons i {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  background-color: #ffffff;
}
.header-wrapper .menu button .icons i:last-of-type {
  margin-bottom: 0;
}
.header-wrapper .menu button .name {
  margin-top: 1px;
  display: inline-block;
}
.header-wrapper .delivery {
  display: inline-block;
  margin-right: 20px;
}
.header-wrapper .delivery a {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header-wrapper .delivery a:hover {
  border-bottom: none;
}
.header-wrapper .phones {
  display: inline-block;
  padding: 11px 0;
}
.header-wrapper .phones a {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
  text-decoration: none;
}
.header-wrapper .user-filter {
  text-align: right;
  margin-top: 10px;
}
.header-wrapper .user-filter .city {
  display: inline-block;
  margin-right: 4px;
}
.header-wrapper .user-filter .lang {
  display: inline-block;
}
.header-wrapper .cart-block {
  position: relative;
  display: inline-block;
}
.header-wrapper .cart-block .summa {
  width: 70px;
  margin-left: 15px;
}
.header-wrapper .cart-block .cart-form {
  width: 440px;
  position: absolute;
  top: 55px;
  right: -45px;
  z-index: 2;
  padding: 20px 25px;
  background-color: #152033;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #101c30;
  border-radius: 20px;
}
.header-wrapper .cart-block .cart-form a {
  display: inline-block;
  text-decoration: none;
}
.header-wrapper .cart-block .cart-form .btn-clear {
  padding: 9px 25px;
  text-align: center;
}
.header-wrapper .cart-block .cart-form .footer-form {
  padding-top: 20px;
}
.header-wrapper .cart-block .cart-form .item {
  padding: 15px 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.header-wrapper .cart-block .cart-form .item:last-of-type {
  border-bottom: none;
}
.header-wrapper .cart-block .cart-form .title span {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.header-wrapper .cart-block .cart-form .price {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.6px;
  text-align: right;
  color: #ffffff;
}
.header-wrapper .cart-block .cart-form .product-count {
  display: inline-block;
  line-height: 0;
}
.header-wrapper .cart-block .cart-form .product-count span {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  color: #ffffff;
}
.header-wrapper .cart-block .cart-form .product-count .qty {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 3px 0;
  border-radius: 3px;
  background-color: #fafafa;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #3a414d;
}
.header-wrapper .cart-block .cart-form .product-count .control {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.header-wrapper .cart-block .cart-form .product-count .minus {
  font-size: 33px;
}
.header-wrapper .cart-block .cart-form .product-count .plus {
  font-size: 22px;
}
.header-wrapper .cart-block .count {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -4px;
  left: 17px;
  border-radius: 19px;
  background-color: #ff9500;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.header-wrapper .cart-block a.cart-link {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -0.8px;
  color: #ffffff;
}
.header-wrapper .cart-block a.cart-link.active {
  color: #FF9500;
}
.header-wrapper .cart-block a.cart-link.active svg path {
  fill: #FF9500;
}
.header-wrapper .user-block {
  position: relative;
  display: inline-block;
  float: right;
}
.header-wrapper .user-block a.link {
  width: 40px;
  height: 40px;
}
.header-wrapper .user-block a.active svg path {
  fill: #FF9500;
}
.header-wrapper .user-block a.logged-link {
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
}
.header-wrapper .user-block a.logged-link img {
  width: 100%;
}
.header-wrapper .user-block .auth-forms {
  width: 710px;
  position: absolute;
  z-index: 2;
  top: 55px;
  right: -55px;
  background-color: #152033;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #101c30;
  padding: 30px 30px;
  border-radius: 20px;
}
.header-wrapper .user-block .auth-forms .login-form {
  padding-right: 55px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.header-wrapper .user-block .auth-forms .login-form .title-form {
  margin-bottom: 25px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 1.7px;
  color: #ffffff;
}
.header-wrapper .user-block .auth-forms .login-form .form-group {
  margin-bottom: 16px;
}
.header-wrapper .user-block .auth-forms .login-form .form-group .help-block {
  margin-top: 4px;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #ea4233;
}
.header-wrapper .user-block .auth-forms .login-form .login {
  margin-right: 16px;
}
.header-wrapper .user-block .auth-forms .login-form .btn-clear {
  padding: 9px 37px;
}
.header-wrapper .user-block .auth-forms .login-form .buttons {
  margin-top: 10px;
  margin-bottom: 20px;
}
.header-wrapper .user-block .auth-forms .login-form .reset-pass {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.13;
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-wrapper .user-block .auth-forms .login-form .reset-pass:hover {
  border-bottom: none;
}
.header-wrapper .user-block .auth-forms .social-auth {
  text-align: center;
}
.header-wrapper .user-block .auth-forms .social-auth .btn-std {
  margin-bottom: 15px;
}
.header-wrapper .user-block .auth-forms .social-auth .title-form {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.38;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.header-wrapper .user-block .auth-forms .social-auth .buttons {
  margin-top: 30px;
}
.header-wrapper .user-block .logged-user {
  width: 271px;
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 2;
  background-color: #152033;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #101c30;
  border-radius: 20px;
}
.header-wrapper .user-block .logged-user ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.header-wrapper .user-block .logged-user ul li a {
  display: block;
  margin: 0 24px;
  padding: 16px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
  text-decoration: none;
}
.header-wrapper .user-block .logged-user ul li a:hover {
  color: #ffa200;
}
.header-wrapper .user-block .logged-user ul li:last-of-type a {
  border-bottom: none;
}
.header-wrapper select {
  width: 100%;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  background: none;
  border: none;
}
.header-wrapper select option {
  background: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.22);
  color: #73807f;
}
.header-wrapper select:focus {
  outline: none;
}
footer {
  padding-bottom: 30px;
}
footer ul {
  padding-left: 0;
  list-style-type: none;
}
footer .logo-company ul li {
  display: inline-block;
  margin-right: 34px;
}
footer .menu ul li {
  display: inline-block;
  margin-right: 20px;
}
footer .menu ul li a {
  text-decoration: none;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 1px;
}
footer .menu ul li a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
footer .copyright {
  color: rgba(255, 255, 255, 0.5);
}
footer .phones .title {
  font-size: 18px;
  margin-bottom: 10px;
}
footer .phones li {
  margin-bottom: 5px;
}
footer .phones li a {
  text-decoration: none;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
}
footer .phones li span {
  opacity: 0.5;
}
footer .social {
  text-align: right;
}
footer .social li {
  display: inline-block;
  margin-left: 10px;
}
footer .social li .fb {
  background-image: url("../images/fb.png");
}
footer .social li .in {
  background-image: url("../images/insta.png");
}
footer .social li .tr {
  background-image: url("../images/trip.png");
}
footer .social li a {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 32px;
  height: 32px;
}
footer .developed {
  text-align: right;
}
footer .developed a {
  text-decoration: none;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}
footer .developed a span {
  margin-left: 5px;
  border-bottom: 1px solid rgba(255, 149, 0, 0.2);
  font-family: ALSSchlangesans, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ff9500;
}
.page {
  padding-bottom: 100px;
}
.static-page .content {
  font-size: 18px;
  letter-spacing: 0.01em;
}
.static-page .content a {
  color: #ffffff;
}
.static-page .content ul {
  padding-left: 20px;
}
.home-page .products-list-index {
  min-height: 500px;
}
.home-page .title-page {
  margin-bottom: 60px;
}
.home-page .catalog-menu {
  margin-bottom: 55px;
}
.home-page .catalog-menu ul {
  text-align: center;
  padding-left: 0;
}
.home-page .catalog-menu ul li {
  display: inline-block;
  margin-right: 27px;
  list-style-type: none;
  text-align: center;
}
.home-page .catalog-menu ul li a {
  display: block;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1.25;
  color: #ffffff;
}
.home-page .catalog-menu ul li a .icon {
  margin-bottom: 15px;
}
.home-page .catalog-menu ul li a .name {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.home-page .catalog-menu ul li:last-of-type {
  margin-right: 0;
}
.home-page .catalog-menu ul li:hover .name {
  border-bottom: none;
}
.home-page .slider-block {
  height: auto;
  position: relative;
  margin-top: 0;
  margin-bottom: 40px;
  z-index: 1;
  padding-bottom: 30px;
  background-size: cover;
}
.home-page .slider-block .slick-track {
  outline: 0;
}
.home-page .slider-block .items-slider {
  list-style-type: none;
  padding-left: 0;
  outline: 0;
}
.home-page .slider-block .slick-dots {
  display: inline-block;
  text-align: center;
  bottom: 20px;
}
.home-page .slider-block .slick-dots li {
  display: inline-block;
}
.home-page .slider-block .slick-dots li a {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: solid 2px #ffffff;
  border-radius: 30px;
  margin-right: 5px;
}
.home-page .slider-block .slick-dots li.slick-active a {
  background-color: #ff9500;
  border: 1px solid #ff9500;
}
.home-page .slider-block .item .title {
  margin-bottom: 8px;
  padding-top: 115px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 68px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
}
.home-page .slider-block .item .text {
  margin-bottom: 30px;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
}
.home-page .slider-block .item .image {
  padding-top: 30px;
  text-align: center;
}
.home-page .slider-block .item .image img {
  display: inherit !important;
  width: 100%;
}
.home-page .slider-block .item .price {
  display: inline-block;
  padding-right: 8px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 0.63;
  letter-spacing: -1px;
  color: #ffffff;
}
.home-page .slider-block .item .count {
  padding-left: 8px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  display: inline-block;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
}
.home-page .slider-block .item .count span {
  display: block;
}
.home-page .slider-block .item .btn-wrap {
  text-align: center;
}
.home-page .slider-block .item .btn-wrap a {
  display: inline-block;
  padding: 11px 39px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
}
.home-page .slider-block .item .quantity-control {
  text-align: center;
}
.home-page .slider-block .item .quantity-control ul {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.home-page .slider-block .item .quantity-control ul li {
  display: inline-block;
  float: left;
  margin: 0 3px;
  text-decoration: none;
  text-align: center;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}
.home-page .slider-block .item .quantity-control ul .control-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.home-page .slider-block .item .quantity-control ul .control-btn.minus {
  background-color: #3a414c;
  background-image: url(../images/icons/minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.home-page .slider-block .item .quantity-control ul .control-btn.plus {
  background-color: #79d569;
  background-image: url(../images/icons/add.png);
  background-repeat: no-repeat;
  background-position: center;
}
.home-page .slider-block .item .quantity-control ul .control-qty {
  width: 40px;
  height: 40px;
}
.home-page .reviews-block {
  margin-top: 55px;
}
.home-page .reviews-block .recent-reviews {
  height: 210px;
}
.home-page .reviews-block .slick-track {
  padding-top: 10px;
}
.home-page .reviews-block .title-wrap {
  margin-bottom: 32px;
}
.home-page .reviews-block .title-wrap .title {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.home-page .reviews-block .item {
  float: left;
  min-height: 192px;
  margin-right: 40px;
  border-radius: 15px;
  background-color: #18253a;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
}
.home-page .reviews-block .item .image {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 8px;
}
.home-page .reviews-block .item .image img {
  width: 100%;
}
.home-page .reviews-block .item .head {
  overflow: hidden;
  margin-bottom: 12px;
}
.home-page .reviews-block .item .info-item .top {
  overflow: hidden;
  margin-bottom: 5px;
}
.home-page .reviews-block .item .info-item .star {
  margin-right: 15px;
  float: left;
}
.home-page .reviews-block .item .info-item .star i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
}
.home-page .reviews-block .item .info-item .star i.rating_star {
  background: url("../images/icons/star_orange.png") no-repeat;
}
.home-page .reviews-block .item .info-item .star i.rating_star_empty {
  background: url("../images/icons/star_gray.png") no-repeat;
}
.home-page .reviews-block .item .info-item .time {
  margin-top: 1px;
  float: left;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.5);
}
.home-page .reviews-block .item .info-item .name {
  display: inline-block;
  margin-right: 2px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
}
.home-page .reviews-block .item .info-item .product-title {
  display: inline;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(44, 95, 182, 0.2);
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ff9500;
}
.home-page .reviews-block .item .info-item .product-title a {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
}
.home-page .reviews-block .item .text {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}
.category-page .breadcrumbs {
  margin-bottom: 40px;
}
.category-page .title-wrap {
  padding-bottom: 60px;
  overflow: hidden;
}
.products-list-index .product.simple {
  width: 32%;
  transition: box-shadow 0.3s ease-in-out;
}
.products-list-index .product.simple .image {
  min-height: 240px;
}
.products-list-index .product.simple .image img {
  border-radius: 20px;
  max-height: 235px;
  max-width: 100%;
}
.products-list-index .product.simple .description {
  overflow: hidden;
  padding: 0 30px;
}
.products-list-index .product.simple .top {
  background-color: #18253a;
  position: relative;
  top: 120px;
  margin-top: -120px;
  -webkit-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  -ms-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  -o-transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: top 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
}
.products-list-index .product.simple:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
.products-list-index .product.simple:hover .top {
  position: relative;
  top: 0;
  box-shadow: 0px -14px 8px rgba(23, 35, 55, 0.21), 0px -15px 0 #18253a;
}
.products-list-index .product {
  position: relative;
  display: inline-block;
  float: left;
  margin: 0 5px;
  padding-bottom: 30px;
  padding-top: 25px;
  margin-bottom: 15px;
  border-radius: 25px;
  cursor: pointer;
}
.products-list-index .product a {
  text-decoration: none;
}
.products-list-index .product .top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.products-list-index .product .top a {
  text-decoration: none;
}
.products-list-index .product .footer {
  min-height: 50px;
}
.products-list-index .product .quantity-control {
  text-align: center;
}
.products-list-index .product .quantity-control ul {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.products-list-index .product .quantity-control ul li {
  display: inline-block;
  float: left;
  margin: 0 3px;
  text-decoration: none;
  text-align: center;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}
.products-list-index .product .quantity-control ul .control-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.products-list-index .product .quantity-control ul .control-btn.minus {
  background-color: #3a414c;
  background-image: url(../images/icons/minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.products-list-index .product .quantity-control ul .control-btn.plus {
  background-color: #79d569;
  background-image: url(../images/icons/add.png);
  background-repeat: no-repeat;
  background-position: center;
}
.products-list-index .product .quantity-control ul .control-qty {
  width: 40px;
  height: 40px;
}
.products-list-index .product .image {
  text-align: center;
  margin-bottom: 8px;
}
.products-list-index .product .title {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  line-height: 1.27;
  color: #ffffff;
  margin-bottom: 15px;
}
.products-list-index .product .title a {
  text-decoration: none;
  color: inherit;
}
.products-list-index .product .title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.products-list-index .product .title:hover span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.products-list-index .product .text {
  min-height: 100px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 25px;
}
.products-list-index .product .price {
  display: inline-block;
  float: left;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.07;
  letter-spacing: -0.9px;
  color: #ffffff;
  padding-right: 8px;
  padding-top: 6px;
}
.products-list-index .product .count {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 8px;
}
.products-list-index .product .count span {
  display: block;
}
.products-list-index .product .btn-orange {
  width: 130px;
}
.products-list-index .product .btn-wrap {
  text-align: center;
}
.products-list-index .product .btn-wrap a {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  background-color: #ff9500;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 7px 35px;
}
.products-list-index .product .btn-wrap a:hover {
  background-color: #ffa200;
}
.products-list-index .product .btn-wrap a:focus {
  background-color: #e37900;
}
.products-list-index .top-left {
  width: 68%;
  height: 370px;
}
.products-list-index .top-left .image {
  float: left;
}
.products-list-index .top-left .title {
  line-height: 1.1;
  margin-bottom: 16px;
  font-size: 32px;
  text-align: left;
}
.products-list-index .top-left .description {
  float: left;
  padding-top: 50px;
  padding-right: 30px;
}
.products-list-index .top-right {
  width: 30%;
  float: right;
}
.products-list-index .top-right .image {
  margin-bottom: 30px;
  margin-top: 17px;
}
.products-list-index .top-right .title {
  font-size: 32px;
  text-align: left;
}
.products-list-index .top-right .description {
  padding-right: 10px;
}
.products-list-index .bottom-left {
  width: 33%;
}
.products-list-index .bottom-left .title {
  font-size: 32px;
  text-align: left;
}
.products-list-index .bottom-left .description {
  width: 80%;
  margin: 0 auto;
}
.product-single .breadcrumbs {
  margin-bottom: 50px;
}
.product-single .products-list-index .product {
  margin: 0;
}
.product-single .products-list-index .product .image {
  min-height: 200px;
}
.product-single .products-list-index .product .image img {
  max-height: 200px;
  max-width: 280px;
}
.product-single .slider:focus {
  outline: none;
}
.product-single .slider .slick-slide {
  text-align: center;
  padding-left: 20px;
}
.product-single .slider .slick-slide img {
  width: 100%;
  display: inline-block;
}
.product-single .slider .slick-prev:before,
.product-single .slider .slick-next:before {
  color: black;
}
.product-single .slider div:focus {
  outline: none;
}
.product-single .slider .slick-dots {
  top: 5%;
  left: 0;
  list-style-type: none;
  padding-left: 0;
}
.product-single .slider .slick-dots li.slick-active {
  opacity: 1;
}
.product-single .slider .slick-dots li {
  display: inherit;
  position: relative;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  margin: 0;
  opacity: 0.4;
  cursor: pointer;
}
.product-single .slider .slick-dots li img {
  width: 100%;
}
.product-single .slider .slick-dots li a {
  display: inline-block;
  padding: 5px 9px;
  border-radius: 10px;
  background-color: #141e30;
  box-shadow: 0 7px 10px 0 rgba(0, 0, 0, 0.2);
}
.product-single .recommendslider .item .image img {
  margin: 0 auto;
}
.product-single .right-block .product {
  padding-left: 25px;
  padding-top: 40px;
}
.product-single .right-block .product .title {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  padding-bottom: 15px;
}
.product-single .right-block .product .review-block {
  padding-bottom: 24px;
}
.product-single .right-block .product .review-block .review-count {
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(252, 213, 84, 0.25);
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #fcd555;
}
.product-single .right-block .product .review-block .review-count a {
  text-decoration: none;
  color: inherit;
}
.product-single .right-block .product .review-block .review-count:hover {
  border-bottom: none;
}
.product-single .right-block .product .text {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 10px;
}
.product-single .right-block .product .composition {
  font-style: italic;
}
.product-single .right-block .product .composition span {
  display: block;
  font-style: normal;
}
.product-single .right-block .product .footer .price {
  display: inline-block;
  float: left;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.07;
  letter-spacing: -0.9px;
  color: #ffffff;
  padding-right: 8px;
  padding-top: 6px;
}
.product-single .right-block .product .footer .count {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 8px;
}
.product-single .right-block .product .footer .count span {
  display: block;
}
.product-single .right-block .product .footer .add-to-cart {
  text-align: center;
  text-transform: uppercase;
}
.product-single .right-block .product .footer .add-to-cart .btn-orange {
  width: 168px;
}
.product-single .right-block .product .quantity-control {
  text-align: center;
}
.product-single .right-block .product .quantity-control ul {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.product-single .right-block .product .quantity-control ul li {
  display: inline-block;
  float: left;
  margin: 0 3px;
  text-decoration: none;
  text-align: center;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}
.product-single .right-block .product .quantity-control ul .control-btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
}
.product-single .right-block .product .quantity-control ul .control-btn.minus {
  background-color: #3a414c;
  background-image: url(../images/icons/minus.png);
  background-repeat: no-repeat;
  background-position: center;
}
.product-single .right-block .product .quantity-control ul .control-btn.plus {
  background-color: #79d569;
  background-image: url(../images/icons/add.png);
  background-repeat: no-repeat;
  background-position: center;
}
.product-single .right-block .product .quantity-control ul .control-qty {
  width: 40px;
  height: 40px;
}
.product-single .recommended {
  min-height: 400px;
  background: #162235;
  padding: 35px 0 60px 0;
  margin-top: 80px;
}
.product-single .recommended .title-wrap {
  margin-bottom: 16px;
}
.product-single .recommended .title-wrap .title {
  font-size: 32px;
}
.product-single .recommended .products-list .product .image {
  display: flex;
  margin-bottom: 8px;
  height: 240px;
  justify-content: center;
  align-items: center;
}
.product-single .recommended .products-list .product .title {
  text-align: center;
  margin-bottom: 15px;
}
.product-single .recommended .products-list .product .title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  font-family: ALSSchlangesans, sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  color: #ffffff;
}
.product-single .recommended .products-list .product .price {
  display: inline-block;
  float: left;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.07;
  letter-spacing: -0.9px;
  color: #ffffff;
  padding-right: 8px;
  padding-top: 6px;
}
.product-single .recommended .products-list .product .count {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 8px;
}
.product-single .recommended .products-list .product .count span {
  display: block;
}
.product-single .recommended .products-list .product .btn-wrap {
  text-align: center;
}
.product-single .recommended .products-list .product .btn-wrap a {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  border-radius: 100px;
  background-color: #ff9500;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 7px 35px;
}
.product-single .reviews-block {
  padding-top: 50px;
}
.product-single .reviews-block .title-wrap {
  padding-bottom: 65px;
}
.product-single .reviews-block .title-wrap .title {
  font-size: 32px;
}
.product-single .reviews-block .wrap-form {
  border-radius: 20px;
  background-color: #18253a;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  padding: 32px 24px;
  margin-bottom: 20px;
}
.product-single .reviews-block .wrap-form .title {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  margin-bottom: 8px;
}
.product-single .reviews-block .wrap-form .caption {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 16px;
}
.product-single .reviews-block .wrap-form .btn-wrap a {
  padding: 9px 27px;
  cursor: pointer;
}
.product-single .reviews-block .wrap-form .noauthorized .text {
  margin-bottom: 10px;
}
.product-single .reviews-block .wrap-form .noauthorized .rating {
  font-size: 16px;
  margin-bottom: 10px;
}
.product-single .reviews-block .wrap-form .noauthorized .rating span {
  float: left;
}
.product-single .reviews-block .wrap-form .noauthorized .rating fieldset {
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
}
.product-single .reviews-block .wrap-form .noauthorized .rating i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  cursor: pointer;
}
.product-single .reviews-block .wrap-form .noauthorized .rating i.rating_star {
  background: url("../images/icons/star_orange.png") no-repeat;
}
.product-single .reviews-block .wrap-form .noauthorized .rating i.rating_star_empty {
  background: url("../images/icons/star_gray.png") no-repeat;
}
.product-single .reviews-block .reviews-list .review {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.product-single .reviews-block .reviews-list .review .user-info .user-image {
  display: block;
  width: 50px;
  margin-right: 10px;
  float: left;
}
.product-single .reviews-block .reviews-list .review .user-info .user-image img {
  width: 100%;
}
.product-single .reviews-block .reviews-list .review .user-info .user-name {
  display: block;
  float: left;
}
.product-single .reviews-block .reviews-list .review .user-info .user-name .star {
  margin-bottom: 5px;
}
.product-single .reviews-block .reviews-list .review .user-info .user-name .name {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
}
.product-single .reviews-block .reviews-list .review .date {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}
.product-single .reviews-block .reviews-list .review .text {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  margin-top: 8px;
  line-height: 1.5;
  color: #ffffff;
}
.product-single .reviews-block .reviews-list .review:first-of-type {
  padding-top: 0;
}
.product-single .reviews-block .reviews-list .review:last-of-type {
  border-bottom: none;
}
.delevery-page .section {
  margin-bottom: 50px;
  padding-right: 10px;
}
.delevery-page .section .section-title {
  overflow: hidden;
  margin-bottom: 10px;
}
.delevery-page .section .section-title .title {
  margin-top: 3px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.33;
  letter-spacing: 2.4px;
  color: #ffffff;
}
.delevery-page .section .section-title .number {
  display: inline-block;
  float: left;
  margin-right: 16px;
  padding: 7px 11px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #ff9500;
  border-radius: 52px;
  border: solid 2px #ff9500;
  line-height: 0.8;
  text-align: center;
}
.delevery-page .section .bold-title {
  margin-bottom: 13px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.22;
  color: #ffffff;
}
.delevery-page .section .section-text {
  margin-bottom: 15px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.delevery-page .section .info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.delevery-page .section .info .summa {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
  margin-bottom: 3px;
}
.delevery-page .section .info .caption {
  font-family: Calibri, sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 1.07;
  color: rgba(255, 255, 255, 0.5);
}
.delevery-page .section .info:before {
  float: left;
  margin-right: 8px;
  opacity: 0.3;
}
.delevery-page .section .info-summa:before {
  content: url("../images/icon-price.png");
}
.delevery-page .section .info-time:before {
  content: url("../images/icon-time.png");
}
.delevery-page .section .info-address .summa {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.38;
  color: #ffffff;
}
.delevery-page .section .info-address:before {
  content: url("../images/icon-address.png");
}
.delevery-page .map {
  text-align: right;
  margin-bottom: 43px;
}
.delevery-page .map img {
  border-radius: 20px;
}
.cart-page .title-page {
  margin-bottom: 25px;
}
.cart-page .inline-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.cart-page .product {
  margin-right: 40px;
  padding: 25px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.cart-page .product:last-of-type {
  border-bottom: none;
}
.cart-page .product .image {
  width: 15.5%;
}
.cart-page .product .image img {
  width: 80%;
}
.cart-page .product .info {
  width: 50%;
  padding-left: 20px;
}
.cart-page .product .info .title {
  display: inline-block;
  padding-bottom: 2px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
}
.cart-page .product .info .title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.cart-page .product .info .text {
  margin-top: 4px;
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
}
.cart-page .product .product-count .plus {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
  color: #ffffff;
}
.cart-page .product .product-count .minus {
  display: inline-block;
  font-size: 33px;
  vertical-align: middle;
  color: #ffffff;
}
.cart-page .product .product-count .count {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 3px 0;
  border-radius: 3px;
  background-color: #fafafa;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #3a414d;
}
.cart-page .product .price {
  width: 15%;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
}
.cart-page .product .delete {
  width: 3%;
  text-align: center;
}
.cart-page .block-summa {
  border-radius: 20px;
  background-color: #18253a;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  padding: 32px 24px 40px 24px;
}
.cart-page .block-summa .title {
  padding-bottom: 8px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.cart-page .block-summa .product-count {
  overflow: hidden;
  padding-top: 17px;
}
.cart-page .block-summa .product-count .name {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.cart-page .block-summa .product-count .count {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: right;
  color: #ffffff;
}
.cart-page .block-summa .product-summ {
  overflow: hidden;
  padding-top: 22px;
  padding-bottom: 26px;
}
.cart-page .block-summa .product-summ .name {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.cart-page .block-summa .product-summ .count {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -1px;
  text-align: right;
  color: #ffffff;
}
.cart-page .block-summa .btn-wrap {
  text-align: center;
}
.cart-page .block-summa .btn-wrap a {
  padding: 15px 62px;
  border-radius: 100px;
  background-color: #ff9500;
  box-shadow: 7px 4px 20px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
}
.cabinet-page #avatarModal {
  text-align: center;
}
.cabinet-page #avatarModal button {
  margin-top: 15px;
}
.cabinet-page img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.cabinet-page img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  /* mobile webkit */
}
.cabinet-page .cropArea {
  margin: 0 auto;
  background: #E4E4E4;
  overflow: hidden;
  height: 250px;
}
.cabinet-page .new-image {
  height: 250px;
}
.cabinet-page form .progress {
  line-height: 15px;
}
.cabinet-page .progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.cabinet-page .progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
.cabinet-page .user-block {
  overflow: hidden;
  padding: 24px 24px 16px 24px;
  margin-right: 30px;
  border-radius: 20px;
  background-color: #18253a;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
.cabinet-page .user-block .image {
  width: 55px;
}
.cabinet-page .user-block .image img {
  width: 100%;
  border-radius: 100%;
}
.cabinet-page .user-block .info {
  padding-left: 20px;
}
.cabinet-page .user-block .info .name {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #ffffff;
}
.cabinet-page .user-block .info .age {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
}
.cabinet-page .user-block .more-info {
  margin-top: 8px;
}
.cabinet-page .user-block .more-info .field {
  overflow: hidden;
  padding: 16px 0;
  border-bottom: 1px solid rgba(215, 215, 215, 0.05);
}
.cabinet-page .user-block .more-info .field .name {
  text-transform: uppercase;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
}
.cabinet-page .user-block .more-info .field .value {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: right;
  color: #ffffff;
}
.cabinet-page .user-block .more-info .field:last-of-type {
  border-bottom: none;
}
.cabinet-page .right-block {
  margin-left: 20px;
}
.cabinet-page .right-block .btn {
  font-size: 16px;
  outline: none;
}
.cabinet-page .right-block .input {
  position: relative;
  margin-bottom: 30px;
  margin-top: 25px;
}
.cabinet-page .right-block .input label {
  position: absolute;
  top: 5px;
  left: 0;
  font-family: Calibri, sans-serif;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.33;
  color: #999999;
  z-index: -1;
  transition: 0.3s;
}
.cabinet-page .right-block .input input[type="text"] {
  padding: 5px 1px;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  background-color: transparent;
}
.cabinet-page .right-block .input input[type="text"]:focus {
  box-shadow: none;
  border-bottom: 1px solid #1764c2;
}
.cabinet-page .right-block .input input[type="text"]:focus ~ label {
  top: -15px;
  font-size: 14px;
}
.cabinet-page .right-block .has-content label {
  top: -15px;
  font-size: 14px;
}
.cabinet-page .right-block .settings .input {
  margin-bottom: 10px;
}
.cabinet-page .right-block .settings select {
  outline: 0;
}
.cabinet-page .right-block .settings select option {
  padding: 5px 0;
  outline: 0;
  background: #18253a;
}
.cabinet-page .right-block .menu-cabinet {
  margin-top: 8px;
}
.cabinet-page .right-block .menu-cabinet ul {
  padding-left: 0;
  list-style-type: none;
}
.cabinet-page .right-block .menu-cabinet ul li {
  display: inline-block;
  margin-right: 45px;
}
.cabinet-page .right-block .menu-cabinet ul li a {
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  text-decoration: none;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
}
.cabinet-page .right-block .menu-cabinet ul li a:hover {
  border-bottom: none;
}
.cabinet-page .right-block .menu-cabinet ul li.active a {
  color: #ff9500;
  border-bottom: 3px solid #ff9500;
}
.cabinet-page .right-block .order-histories .order {
  padding: 35px 0;
  border-bottom: 1px solid rgba(215, 215, 215, 0.1);
}
.cabinet-page .right-block .order-histories .order .inline-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.cabinet-page .right-block .order-histories .order .order-number {
  display: block;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}
.cabinet-page .right-block .order-histories .order .count-product {
  cursor: pointer;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
  color: #ffffff;
  width: 24%;
}
.cabinet-page .right-block .order-histories .order .count-product span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.cabinet-page .right-block .order-histories .order .count-product:hover span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cabinet-page .right-block .order-histories .order .date {
  width: 26%;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.cabinet-page .right-block .order-histories .order .status {
  width: 20%;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.cabinet-page .right-block .order-histories .order .status.true {
  color: #79d469;
}
.cabinet-page .right-block .order-histories .order .repeat {
  width: 28%;
  text-align: center;
}
.cabinet-page .right-block .order-histories .order .repeat .btn-wrap a {
  padding: 9px 30px;
  border-radius: 100px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.cabinet-page .right-block .order-histories .order:last-of-type {
  border-bottom: none;
}
.cabinet-page .right-block .order-histories .order .products-list {
  display: none;
  padding-top: 20px;
}
.cabinet-page .right-block .order-histories .order .products-list a {
  text-decoration: none;
}
.cabinet-page .right-block .order-histories .order .products-list a:hover .info .title span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.cabinet-page .right-block .order-histories .order .products-list .product {
  padding: 15px 0;
}
.cabinet-page .right-block .order-histories .order .products-list .product .image {
  width: 16%;
}
.cabinet-page .right-block .order-histories .order .products-list .product .image img {
  width: 77%;
}
.cabinet-page .right-block .order-histories .order .products-list .product .info {
  width: 50%;
}
.cabinet-page .right-block .order-histories .order .products-list .product .info .title {
  margin-bottom: 5px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  color: #ffffff;
}
.cabinet-page .right-block .order-histories .order .products-list .product .info .title span {
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.cabinet-page .right-block .order-histories .order .products-list .product .info .text {
  font-family: Calibri, sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
}
.cabinet-page .right-block .order-histories .order .products-list .product .count {
  width: 16%;
  text-align: center;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}
.cabinet-page .right-block .order-histories .order .products-list .product .summa {
  width: 16%;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: right;
  color: #ffffff;
}
.checkout-page .title-page {
  margin-bottom: 25px;
}
.checkout-page .section {
  margin-bottom: 48px;
}
.checkout-page .section .text {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  line-height: 1.13;
  color: rgba(255, 255, 255, 0.8);
}
.checkout-page .section .title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.1;
  color: #ffffff;
}
.checkout-page .section .title span {
  border-radius: 52px;
  border: 2px solid #ffffff;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  padding: 1px 7px;
}
.checkout-page .section .input {
  position: relative;
  display: inline-block;
}
.checkout-page .section .input:last-of-type {
  margin-right: 0;
}
.checkout-page .section .input:last-of-type input {
  margin-right: 0;
}
.checkout-page .section .input label {
  position: absolute;
  top: 14px;
  left: 0;
  font-family: Calibri, sans-serif;
  font-size: 17px;
  font-weight: 100;
  line-height: 1.33;
  color: #999999;
  z-index: -1;
  transition: 0.3s;
}
.checkout-page .section .input input[type="text"],
.checkout-page .section .input input[type="search"],
.checkout-page .section .input input[type="email"],
.checkout-page .section .input input[type="time"] {
  padding: 5px 1px;
  font-family: Calibri, sans-serif;
  font-size: 17px;
  line-height: 1.33;
  color: #ffffff;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  background-color: transparent;
}
.checkout-page .section .input input[type="text"]:focus,
.checkout-page .section .input input[type="email"]:focus,
.checkout-page .section .input input[type="search"]:focus,
.checkout-page .section .input input[type="time"]:focus {
  box-shadow: none;
  border-bottom: 1px solid #1764c2;
}
.checkout-page .section .input input[type="text"]:focus ~ label,
.checkout-page .section .input input[type="email"]:focus ~ label,
.checkout-page .section .input input[type="search"]:focus ~ label,
.checkout-page .section .input input[type="time"]:focus ~ label {
  top: -8px;
  font-size: 14px;
}
.checkout-page .section .has-content label {
  top: -8px;
  font-size: 14px;
}
.checkout-page .section-first .form-control {
  width: 215px;
  margin-right: 20px;
}
.checkout-page .section-first .input .name {
  background: url("../images/icons/icon-user.png") no-repeat left center;
  padding-left: 32px !important;
}
.checkout-page .section-first .input label {
  left: 30px;
}
.checkout-page .section-first .input .email {
  background: url(../images/icons/icon-email.png) no-repeat 0px 14px;
  padding-left: 32px !important;
  background-size: 22px;
}
.checkout-page .section-first .input label {
  left: 30px;
}
.checkout-page .section-first .input .phone {
  background: url("../images/icons/icon-phone.png") no-repeat left center;
  padding-left: 32px !important;
}
.checkout-page .section-second .input {
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.checkout-page .section-second .delivery-type {
  margin-bottom: 30px;
}
.checkout-page .section-second .delivery-type input[type=radio],
.checkout-page .section-second .delivery-type input[type=checkbox] {
  display: none;
}
.checkout-page .section-second .delivery-type label:first-of-type {
  margin-right: -4px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.checkout-page .section-second .delivery-type label:last-of-type {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.checkout-page .section-second .delivery-type input[type=radio] + label,
.checkout-page .section-second .delivery-type input[type=checkbox] + label {
  display: inline-block;
  width: 160px;
  padding: 9px 8px;
  margin-bottom: 0;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.checkout-page .section-second .delivery-type input[type=radio]:checked + label,
.checkout-page .section-second .delivery-type input[type=checkbox]:checked + label {
  background-image: none;
  outline: 0;
  background-color: #ff9500;
  border: 1px solid #ff9500;
}
.checkout-page .section-second .street {
  width: 35%;
}
.checkout-page .section-second .home {
  width: 17%;
}
.checkout-page .section-second .apartment {
  width: 23%;
}
.checkout-page .section-second .time {
  width: 200px;
}
.checkout-page .section-second .time input {
  text-align: right;
}
.checkout-page .section-second .time input:focus ~ label {
  font-size: 17px !important;
  top: 14px !important;
}
.checkout-page .section-third label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
.checkout-page .section-third input[type=radio] {
  width: 0.5px;
}
.checkout-page .section-third label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.checkout-page .section-third input[type=radio]:checked + label:before {
  content: url("../images/icons/checked.png");
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 5px;
  border-radius: 50px;
  background-color: #ff9500;
  border: 1px solid #ff9500;
}
.checkout-page .section-third .text {
  margin-top: 16px;
}
.checkout-page .section-third .input-checkbox {
  display: flex;
  margin-bottom: 9px;
}
.checkout-page .section-third .input-checkbox label {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.13;
  color: #ffffff;
}
.checkout-page .section-third .input-checkbox span {
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.13;
  color: #ffffff;
}
.checkout-page .section-third .input-checkbox .price {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 5px;
}
.checkout-page .section-third .wrap {
  margin-bottom: 25px;
}
.checkout-page .right-block {
  float: right;
  width: 372px;
  padding: 32px 24px;
  border-radius: 20px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
}
.checkout-page .right-block .alert-warning {
  font-size: 18px;
  padding: 10px;
  border-color: #ff0000;
}
.checkout-page .right-block .section {
  margin-bottom: 0;
}
.checkout-page .right-block .section .input {
  display: block;
}
.checkout-page .right-block .title-wrap {
  margin-bottom: 30px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.checkout-page .right-block .title-wrap .title {
  font-size: 24px;
}
.checkout-page .right-block .field {
  overflow: hidden;
  margin-bottom: 9px;
}
.checkout-page .right-block .field .name {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}
.checkout-page .right-block .field .value {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
  text-align: right;
  color: #ffffff;
}
.checkout-page .right-block .section-title {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}
.checkout-page .right-block .total .name {
  font-size: 24px;
}
.checkout-page .right-block .total .value {
  font-size: 32px;
}
.checkout-page .right-block .summa {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.checkout-page .right-block .payment {
  margin-top: 24px;
  margin-bottom: 25px;
}
.checkout-page .right-block .payment .section-title {
  margin-bottom: 16px;
}
.checkout-page .right-block .payment .payment-type {
  text-align: center;
}
.checkout-page .right-block .payment .payment-type input[type=radio],
.checkout-page .right-block .payment .payment-type input[type=checkbox] {
  display: none;
}
.checkout-page .right-block .payment .payment-type label:first-of-type {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.checkout-page .right-block .payment .payment-type label:last-of-type {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.checkout-page .right-block .payment .payment-type input[type=radio] + label,
.checkout-page .right-block .payment .payment-type input[type=checkbox] + label {
  display: inline-block;
  width: 160px;
  margin: -2px;
  padding: 9px 8px;
  margin-bottom: 0;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-repeat: repeat-x;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.checkout-page .right-block .payment .payment-type input[type=radio]:checked + label,
.checkout-page .right-block .payment .payment-type input[type=checkbox]:checked + label {
  background-image: none;
  outline: 0;
  background-color: #ff9500;
  border: 1px solid #ff9500;
}
.checkout-page .right-block .zdacha {
  margin-bottom: 24px;
}
.checkout-page .right-block .zdacha textarea {
  font-size: 15px;
  color: white;
  min-height: 90px;
  min-width: 200px;
  max-width: 330px;
  background-color: rgba(113, 113, 113, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.checkout-page .right-block .zdacha input {
  padding: 10px 1px;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  background: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.checkout-page .right-block .zdacha input:focus {
  box-shadow: none;
  border-bottom: 1px solid #1764c2;
}
.checkout-page .right-block .info {
  margin-top: 10px;
}
.checkout-page .right-block .info .text-sm {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}
.checkout-page .right-block .promocode {
  font-family: ALSSchlangesans, sans-serif;
  margin-bottom: 35px;
}
.checkout-page .right-block .promocode .input {
  display: flex;
}
.checkout-page .right-block .promocode .input input {
  font-size: 15px;
}
.checkout-page .right-block .promocode .input input:focus {
  outline: none;
}
.checkout-page .right-block .promocode button {
  font-family: ALSSchlangesans, sans-serif;
  width: 100%;
  background: #ff9500;
  border: none;
  border-radius: 5px;
}
.checkout-page .right-block .btn-wrap {
  text-align: center;
}
.checkout-page .right-block .btn-wrap .btn {
  width: inherit;
  font-size: 20px;
  line-height: 1.2;
  padding: 14px 60px;
  text-transform: uppercase;
  outline: 0;
}
.breadcrumbs ul {
  padding-left: 0;
  list-style-type: none;
}
.breadcrumbs ul li {
  display: inline-block;
  text-decoration: none;
  font-family: Calibri, sans-serif;
  opacity: 0.5;
  font-size: 16px;
}
.breadcrumbs ul li a {
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.breadcrumbs ul li a:hover {
  border-bottom: none;
}
.breadcrumbs ul li:after {
  content: " — ";
  display: inline-block;
  opacity: 0.5;
  margin: 0 7px;
}
.breadcrumbs ul li:last-of-type:after {
  content: "";
}
.title-wrap .title-category {
  text-transform: uppercase;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 4.8px;
  color: #ffffff;
}
.rating-star-wrap i {
  display: inline-block;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 3px;
}
.rating-star-wrap .rating_star {
  background: url(../images/icons/star_orange.png) no-repeat;
}
.rating-star-wrap .rating_star_empty {
  background: url(../images/icons/star_gray.png) no-repeat;
}
.fix-to-top {
  position: fixed;
  top: 0;
}
/**/
.add-to-cart.flip .action {
  display: none;
}
.add-to-cart {
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.add-to-cart .front {
  z-index: 900;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.add-to-cart.flip .front {
  z-index: 900;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
}
.add-to-cart .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.add-to-cart.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}
.mobile-cart {
  position: fixed;
  bottom: -70px;
  width: 100%;
  background-color: #18253a;
  box-shadow: 0 -10px 25px 0 rgba(0, 0, 0, 0.2);
  padding-top: 14px;
  padding-bottom: 12px;
  opacity: 0;
}
.mobile-cart .dish-count {
  text-transform: uppercase;
  font-family: ALSSchlangesans, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);
}
.mobile-cart .order-summ {
  font-family: ALSSchlangesans, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.22;
  letter-spacing: -0.8px;
  color: #ffffff;
}
.mobile-cart .btn-wrap {
  text-align: center;
}
.mobile-cart .btn-wrap .btn-orange {
  width: 140px;
  padding: 7px 9px;
}
.show-block .mobile-cart {
  bottom: 0;
  opacity: 1;
  -webkit-transition: bottom 1s ease-in-out;
  -moz-transition: bottom 1s ease-in-out;
  -o-transition: bottom 1s ease-in-out;
  -ms-transition: bottom 1s ease-in-out;
  transition: bottom 1s ease-in-out;
}
#citymodal {
  text-align: center;
}
#citymodal .modal-content {
  padding: 35px 0;
}
#citymodal .modal-title {
  color: #000;
  margin-bottom: 30px;
}
#citymodal input {
  opacity: 0;
  position: fixed;
  width: 0;
}
#citymodal label {
  display: inline-block;
  font-size: 16px;
  padding: 6px 20px;
}
.modal-backdrop.in {
  opacity: 0.8;
}
/*# sourceMappingURL=main.css.map */