@media screen and (min-width: 1280px) {

  html, body {
    height: 100%
  }

  .container {
    width: 1200px;
  }

  .no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .title-mobile {
    display: none;
  }

  .reviews-block {
    .item {
      width: 362px !important;
    }
  }
}

@media screen and (max-width: 1280px) {
  .home-page {
    .catalog-menu {
      ul {
        display: flex;
      }
    }
  }

  .header-wrapper {
    .catalog-menu.catalog-rel {
      ul {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  #header {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header-wrapper {
    .catalog-menu {
      ul {
        li {
          margin: 0 7px;
        }
      }
    }
  }

  .title-mobile {
    background-color: #18253a;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 0;
    font-size: 16px;
    text-transform: uppercase;

    span {
      color: #f79000;
    }
  }

  .menu-controls {
    overflow: hidden;
    padding-top: 15px;
  }

  .loggin-mobile {
    margin-bottom: 20px;

    form {
      margin-bottom: 35px;
    }

    .social-auth {
      .title-form {
        margin-bottom: 10px;
      }
    }

    .buttons {
      margin-bottom: 10px;

      .login {
        padding: 5px 20px;
        font-size: 14px;
      }

      a.register {
        padding: 5px 20px;
        font-size: 14px;
      }

      .btn-std {
        font-size: 10px;
        padding: 4px 5px;
        width: 80px !important;
      }
    }
  }

  .mobile-header {
    .btns-wrap {
      display: inline-block;
      overflow: hidden;
      padding: 10px 0;

      .btn {
        width: 135px;
      }

      .btn-clear {
        padding: 9px 21px;
      }
    }

    .phones-mobile {
      text-align: center;

      a {
        font-size: 17px;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .mobile-menu {
      .navbar-collapse {
        border: none;
      }

      .catalog-mobile-menu {
        .icon {
          display: inline-block;
          float: left;

          svg {
            width: 37px;
            height: 32px;
          }
        }

        .name {
          display: inline-block;
          margin-top: 13px;
          margin-left: 15px;
          float: left;
        }
      }

      .navbar {
        .caption {
          font-size: 14px;
          line-height: 1.14;
          color: rgba(255, 255, 255, 0.4);
          margin-bottom: 4px;
          margin-left: 3px;
        }

        .city-select {
          padding: 15px 0;
        }

        .lang-select {
          padding: 15px 0;
        }

        li.active {
          a {
            background: none;
            color: #f79000;

            svg {
              path {
                fill: #FF9500;
              }
            }
          }
        }

        li {
          margin: 0 15px;
          padding: 6px 0;
          border-bottom: 1px solid rgba(215, 215, 215, 0.05);

          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('../images/icons/down-arrow.png');
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: right center;
          }

          .arrow {
            float: right;

            img {
              width: 20px;
            }
          }

          a {
            font-family: ALSSchlangesans, sans-serif;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.25;
            color: #ffffff;
            text-transform: uppercase;
            padding: 10px 0;

            span {
              border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            }

            &:focus {
              background: none;
            }

            &:hover {
              background: none;
            }
          }
        }

        .dropdown-menu {
          height: 280px;
          overflow-y: scroll;

          li {
            margin: 0 0;
            padding: 0 0;

            a {
              padding: 9px 0;
              overflow: hidden;
            }
          }
        }
      }
    }
  }

  .right-cols {
    position: relative;

    .navbar-toggle {
      display: block;
      float: none;
      padding: 0;
      margin-top: 10px;
      margin-right: 0;
      margin-bottom: 8px;
      height: 50px;
      width: 45px;

      .icon-bar {
        background: #ffffff;
        opacity: 0.6;
        width: 40px;
        margin-bottom: 8px;
      }
    }
  }

  .nav-modal-close {
    .icon-bar.left {
      margin: 0;
      transform: rotate(40deg);
      position: absolute;
      top: 12px;
    }

    .icon-bar.right {
      margin: 0;
      transform: rotate(-40deg);
      position: absolute;
      left: 0;
      top: 13px;
    }
  }

  .nav-mobile-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: left 200ms linear;
    transition: left 200ms linear;
    background-color: #162235;
    display: block;
  }

  .loggin-mobile {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    -webkit-transition: right 200ms linear;
    transition: right 200ms linear;
    background-color: #162235;
    display: block;
  }

  .nav-mobile-close {
    display: inline-block;
    float: right;
    padding: 15px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 20px;
  }

  .home-page {
    .title-page {
      margin-bottom: 30px;
      margin-top: 30px;
    }

    .slider-block {
      margin-bottom: 20px !important;
      padding-bottom: 0 !important;

      .slick-dots {
        bottom: 5px;

        li {
          width: 10px;
          height: 10px;

          a {
            width: 13px;
            height: 13px;
          }
        }
      }
    }

    .reviews-block {
      .item {
        //width: 320px !important;
        margin: 0;
      }
    }
  }

  .slick-prev:before {
    width: 16px !important;
    height: 15px !important;
  }

  .slick-next:before {
    width: 16px !important;
    height: 15px !important;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }

  .category-page {
    .title-wrap {
      padding-bottom: 20px;

      .title-category {
        display: none;
        font-size: 28px;
      }
    }
  }

  .products-list-index {
    .top-left {
      width: 50%;
      height: auto;

      .image {
        img {
          width: auto;
          height: 325px;
        }
      }
    }

    .top-right {
      width: 50%;

      .image {
        img {
          width: auto;
          height: 325px;
        }
      }
    }

    .bottom-left {
      width: 50%;

      .title {
        text-align: center;
      }
    }

    .product {
      margin: 0;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      border-radius: 0;
      box-shadow: none;

      .description {
        float: none;
      }

      .top {
        position: inherit !important;
        top: inherit !important;
        margin-top: inherit !important;
      }

      .image {
        img {
          width: auto;
          height: 325px;
        }
      }

      .text {
        min-height: 60px;
      }

      .price {
        font-size: 18px !important;
      }

      .btn-wrap {
        a {
          padding: 7px 28px;
          font-size: 15px;
        }
      }

      .quantity-control {
        ul {
          .control-btn {
            width: 35px;
            height: 35px;
          }

          .control-qty {
            width: 35px;
            height: 35px;
          }
        }

      }
    }

    .product.simple {
      width: 50%;
    }
  }

}

@media screen and (max-width: 1024px) and (min-width: 768px) {

  #header {
    .cart-block {
      margin-left: 0;
    }
  }

  .home-page {
    .catalog-menu {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  .checkout-page {
    .right-block {
      width: 100%;
      float: none;
    }
  }

  footer {
    text-align: center;

    .phones {
      text-align: center;
    }

    .developed {
      text-align: center;
    }

    .social {
      text-align: center;
    }
  }

}

@media screen and (max-width: 769px) {
  footer {
    .developed {
      text-align: center;
    }
  }

  .page {
    padding-bottom: 40px;
  }

  .title-page {
    font-size: 28px;
  }

  .products-list-index {
    .top-left {
      width: 100%;
      height: auto;

    }

    .top-right {
      width: 100%;

      .image {
        img {
          width: 60%;
          height: auto;
        }
      }
    }

    .bottom-left {
      width: 100%;

      .title {
        text-align: center;
      }
    }

    .product {
      padding-top: 24px;
      padding-bottom: 24px;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(215, 215, 215, 0.05);

      .image {
        min-height: 160px !important;
        float: none;
        text-align: center;
        margin-bottom: 8px;
        margin-top: 8px;

        img {
          width: 75%;
          height: auto;
        }
      }

      .description {
        padding: 0 !important;
      }

      .title {
        text-align: center;
        font-size: 18px;
      }

      .price {
        font-size: 24px;
      }

      .count {
        font-size: 14px;
      }

      .text {
        min-height: inherit;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        font-size: 12px;
        line-height: 1.33;
      }
    }

    .product.simple {
      width: 100%;

      .description {
        padding: 0;
      }
    }

    .product.bottom-left {
      .description {
        width: auto;
      }
    }
  }

  .product-single {
    .slider {
      .slick-slide {
        padding-left: 0;

        img {
          width: 70%;
        }
      }
    }

    .right-block {
      .product {
        padding-left: 0;

        .footer {
          [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
          }

          .price {
            font-size: 26px;
          }
        }

        .text {
          line-height: 1.38;
        }

        .title {
          font-size: 28px;
          text-align: center;
        }

        .rating-star-wrap {
          i {
            float: none;
          }
        }

        .review-block {
          text-align: center;
        }
      }
    }

    .recommended {
      .title-wrap {
        .title {
          font-size: 22px;
          text-align: center;
        }
      }
    }
  }

  .checkout-page {

    .section {
      .input {

        input[type="text"] {
          width: 100%;
        }
      }
    }

    .section-first {
      .input {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .section-second {
      .delivery-type {
        label {
          width: 50% !important;
          padding: 9px 2px !important;
          font-size: 14px !important;
        }
      }

      .input {
        width: 44%;
        margin-right: 15px;
      }

      .street {
        width: 100%;
      }

      .city {
        width: 100%;
      }
    }

    .section-third {
      .input-checkbox {
        width: inherit;
        margin-bottom: 10px;
      }

      .text {
        line-height: 1.5;
      }
    }

    .right-block {
      width: auto;
      float: none;

      .field {
        [class*="col-"] {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }

      .payment {
        .payment-type {
          label {
            width: 50% !important;
          }
        }
      }
    }
  }

  .delevery-page {

    .section {
      margin-bottom: 30px;

      .section-title {
        margin-bottom: 16px;

        .title {
          font-size: 18px;
          margin-top: 5px;
          line-height: 1.5;
        }

        .number {
          margin-right: 8px;
        }
      }

      .section-text {
        font-size: 13px;
      }

      .info {
        .caption {
          font-size: 13px;
          line-height: 1.33;
        }
      }
    }
  }

  .cart-page {
    .product {
      margin: 0;

      .image {
        width: 35%;
      }

      .info {
        width: 63%;
        padding-left: 5px;

        .title {
          font-size: 16px;
          line-height: 1.25;
        }

        .text {
          font-size: 13px;
        }
      }

      .product-count {
        margin-top: 20px;

        .count {
          color: #ffffff;
          background-color: inherit;
        }

        .minus {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 1.2;
          background: #3a414c;
          border-radius: 50px;
        }

        .plus {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 1.8;
          background: #79d569;
          border-radius: 50px;
        }

      }

      .price {
        width: auto;
        margin-top: 20px;
        margin-left: 10px;

        .price {
          font-size: 22px;
        }
      }

      .delete {
        width: auto;
        margin-top: 19px;
        float: right;

        a {
          float: right;
          background: red;
          padding: 10px;
          border-radius: 50px;
        }

        .lg {
          display: none !important;
        }

        .xs {
          display: block !important;
        }
      }
    }

    .block-summa {
      padding: 32px 0 40px 0;
      box-shadow: none;
    }
  }

  .cabinet-page {
    .user-block {
      padding: 5px;
      margin-right: 0;

      .image {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
      }

      .info {
        padding-left: 0;
      }

      .more-info {
        .field {
          .name {
            font-size: 13px;
          }
        }
      }
    }

    .right-block {
      margin-top: 25px;
      margin-left: 0;

      .menu-cabinet {
        ul {
          li {
            margin: 10px 5px;
          }
        }
      }

      .order {
        .inline-wrapper {
          margin: 7px 0px;
          width: 100% !important;
          text-align: left !important;
        }
      }
    }
  }

  footer {
    background: #162235;
    padding-bottom: 25px;

    .social {
      text-align: center;
      margin-bottom: 15px;
    }

    .phones {
      text-align: center;
      margin-bottom: 25px;

      li {
        a {
          font-size: 16px;
        }
      }
    }

    .logo-company {
      ul {
        text-align: center;

        li {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }

    .copyright {

      text-align: center;
      width: 70%;
      margin: 0 auto;
    }
  }

}

