@media screen and (min-width: 1280px) {
  html,
  body {
    height: 100%;
  }
  .container {
    width: 1200px;
  }
  .no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .title-mobile {
    display: none;
  }
  .reviews-block .item {
    width: 362px !important;
  }
}
@media screen and (max-width: 1280px) {
  .home-page .catalog-menu ul {
    display: flex;
  }
  .header-wrapper .catalog-menu.catalog-rel ul {
    display: flex;
  }
}
@media screen and (max-width: 1024px) {
  #header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-wrapper .catalog-menu ul li {
    margin: 0 7px;
  }
  .title-mobile {
    background-color: #18253a;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 0;
    font-size: 16px;
    text-transform: uppercase;
  }
  .title-mobile span {
    color: #f79000;
  }
  .menu-controls {
    overflow: hidden;
    padding-top: 15px;
  }
  .loggin-mobile {
    margin-bottom: 20px;
  }
  .loggin-mobile form {
    margin-bottom: 35px;
  }
  .loggin-mobile .social-auth .title-form {
    margin-bottom: 10px;
  }
  .loggin-mobile .buttons {
    margin-bottom: 10px;
  }
  .loggin-mobile .buttons .login {
    padding: 5px 20px;
    font-size: 14px;
  }
  .loggin-mobile .buttons a.register {
    padding: 5px 20px;
    font-size: 14px;
  }
  .loggin-mobile .buttons .btn-std {
    font-size: 10px;
    padding: 4px 5px;
    width: 80px !important;
  }
  .mobile-header .btns-wrap {
    display: inline-block;
    overflow: hidden;
    padding: 10px 0;
  }
  .mobile-header .btns-wrap .btn {
    width: 135px;
  }
  .mobile-header .btns-wrap .btn-clear {
    padding: 9px 21px;
  }
  .mobile-header .phones-mobile {
    text-align: center;
  }
  .mobile-header .phones-mobile a {
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
  }
  .mobile-header .mobile-menu .navbar-collapse {
    border: none;
  }
  .mobile-header .mobile-menu .catalog-mobile-menu .icon {
    display: inline-block;
    float: left;
  }
  .mobile-header .mobile-menu .catalog-mobile-menu .icon svg {
    width: 37px;
    height: 32px;
  }
  .mobile-header .mobile-menu .catalog-mobile-menu .name {
    display: inline-block;
    margin-top: 13px;
    margin-left: 15px;
    float: left;
  }
  .mobile-header .mobile-menu .navbar .caption {
    font-size: 14px;
    line-height: 1.14;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 4px;
    margin-left: 3px;
  }
  .mobile-header .mobile-menu .navbar .city-select {
    padding: 15px 0;
  }
  .mobile-header .mobile-menu .navbar .lang-select {
    padding: 15px 0;
  }
  .mobile-header .mobile-menu .navbar li.active a {
    background: none;
    color: #f79000;
  }
  .mobile-header .mobile-menu .navbar li.active a svg path {
    fill: #FF9500;
  }
  .mobile-header .mobile-menu .navbar li {
    margin: 0 15px;
    padding: 6px 0;
    border-bottom: 1px solid rgba(215, 215, 215, 0.05);
  }
  .mobile-header .mobile-menu .navbar li select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/icons/down-arrow.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right center;
  }
  .mobile-header .mobile-menu .navbar li .arrow {
    float: right;
  }
  .mobile-header .mobile-menu .navbar li .arrow img {
    width: 20px;
  }
  .mobile-header .mobile-menu .navbar li a {
    font-family: ALSSchlangesans, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
  }
  .mobile-header .mobile-menu .navbar li a span {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .mobile-header .mobile-menu .navbar li a:focus {
    background: none;
  }
  .mobile-header .mobile-menu .navbar li a:hover {
    background: none;
  }
  .mobile-header .mobile-menu .navbar .dropdown-menu {
    height: 280px;
    overflow-y: scroll;
  }
  .mobile-header .mobile-menu .navbar .dropdown-menu li {
    margin: 0 0;
    padding: 0 0;
  }
  .mobile-header .mobile-menu .navbar .dropdown-menu li a {
    padding: 9px 0;
    overflow: hidden;
  }
  .right-cols {
    position: relative;
  }
  .right-cols .navbar-toggle {
    display: block;
    float: none;
    padding: 0;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 8px;
    height: 50px;
    width: 45px;
  }
  .right-cols .navbar-toggle .icon-bar {
    background: #ffffff;
    opacity: 0.6;
    width: 40px;
    margin-bottom: 8px;
  }
  .nav-modal-close .icon-bar.left {
    margin: 0;
    transform: rotate(40deg);
    position: absolute;
    top: 12px;
  }
  .nav-modal-close .icon-bar.right {
    margin: 0;
    transform: rotate(-40deg);
    position: absolute;
    left: 0;
    top: 13px;
  }
  .nav-mobile-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow: hidden;
    -webkit-transition: left 200ms linear;
    transition: left 200ms linear;
    background-color: #162235;
    display: block;
  }
  .loggin-mobile {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    overflow: hidden;
    -webkit-transition: right 200ms linear;
    transition: right 200ms linear;
    background-color: #162235;
    display: block;
  }
  .nav-mobile-close {
    display: inline-block;
    float: right;
    padding: 15px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 20px;
  }
  .home-page .title-page {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .home-page .slider-block {
    margin-bottom: 20px !important;
    padding-bottom: 0 !important;
  }
  .home-page .slider-block .slick-dots {
    bottom: 5px;
  }
  .home-page .slider-block .slick-dots li {
    width: 10px;
    height: 10px;
  }
  .home-page .slider-block .slick-dots li a {
    width: 13px;
    height: 13px;
  }
  .home-page .reviews-block .item {
    margin: 0;
  }
  .slick-prev:before {
    width: 16px !important;
    height: 15px !important;
  }
  .slick-next:before {
    width: 16px !important;
    height: 15px !important;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  .category-page .title-wrap {
    padding-bottom: 20px;
  }
  .category-page .title-wrap .title-category {
    display: none;
    font-size: 28px;
  }
  .products-list-index .top-left {
    width: 50%;
    height: auto;
  }
  .products-list-index .top-left .image img {
    width: auto;
    height: 325px;
  }
  .products-list-index .top-right {
    width: 50%;
  }
  .products-list-index .top-right .image img {
    width: auto;
    height: 325px;
  }
  .products-list-index .bottom-left {
    width: 50%;
  }
  .products-list-index .bottom-left .title {
    text-align: center;
  }
  .products-list-index .product {
    margin: 0;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-radius: 0;
    box-shadow: none;
  }
  .products-list-index .product .description {
    float: none;
  }
  .products-list-index .product .top {
    position: inherit !important;
    top: inherit !important;
    margin-top: inherit !important;
  }
  .products-list-index .product .image img {
    width: auto;
    height: 325px;
  }
  .products-list-index .product .text {
    min-height: 60px;
  }
  .products-list-index .product .price {
    font-size: 18px !important;
  }
  .products-list-index .product .btn-wrap a {
    padding: 7px 28px;
    font-size: 15px;
  }
  .products-list-index .product .quantity-control ul .control-btn {
    width: 35px;
    height: 35px;
  }
  .products-list-index .product .quantity-control ul .control-qty {
    width: 35px;
    height: 35px;
  }
  .products-list-index .product.simple {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  #header .cart-block {
    margin-left: 0;
  }
  .home-page .catalog-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-page .catalog-menu ul li {
    margin-bottom: 10px;
  }
  .checkout-page .right-block {
    width: 100%;
    float: none;
  }
  footer {
    text-align: center;
  }
  footer .phones {
    text-align: center;
  }
  footer .developed {
    text-align: center;
  }
  footer .social {
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  footer .developed {
    text-align: center;
  }
  .page {
    padding-bottom: 40px;
  }
  .title-page {
    font-size: 28px;
  }
  .products-list-index .top-left {
    width: 100%;
    height: auto;
  }
  .products-list-index .top-right {
    width: 100%;
  }
  .products-list-index .top-right .image img {
    width: 60%;
    height: auto;
  }
  .products-list-index .bottom-left {
    width: 100%;
  }
  .products-list-index .bottom-left .title {
    text-align: center;
  }
  .products-list-index .product {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(215, 215, 215, 0.05);
  }
  .products-list-index .product .image {
    min-height: 160px !important;
    float: none;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .products-list-index .product .image img {
    width: 75%;
    height: auto;
  }
  .products-list-index .product .description {
    padding: 0 !important;
  }
  .products-list-index .product .title {
    text-align: center;
    font-size: 18px;
  }
  .products-list-index .product .price {
    font-size: 24px;
  }
  .products-list-index .product .count {
    font-size: 14px;
  }
  .products-list-index .product .text {
    min-height: inherit;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
    line-height: 1.33;
  }
  .products-list-index .product.simple {
    width: 100%;
  }
  .products-list-index .product.simple .description {
    padding: 0;
  }
  .products-list-index .product.bottom-left .description {
    width: auto;
  }
  .product-single .slider .slick-slide {
    padding-left: 0;
  }
  .product-single .slider .slick-slide img {
    width: 70%;
  }
  .product-single .right-block .product {
    padding-left: 0;
  }
  .product-single .right-block .product .footer [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .product-single .right-block .product .footer .price {
    font-size: 26px;
  }
  .product-single .right-block .product .text {
    line-height: 1.38;
  }
  .product-single .right-block .product .title {
    font-size: 28px;
    text-align: center;
  }
  .product-single .right-block .product .rating-star-wrap i {
    float: none;
  }
  .product-single .right-block .product .review-block {
    text-align: center;
  }
  .product-single .recommended .title-wrap .title {
    font-size: 22px;
    text-align: center;
  }
  .checkout-page .section .input input[type="text"] {
    width: 100%;
  }
  .checkout-page .section-first .input {
    width: 100%;
    margin-bottom: 20px;
  }
  .checkout-page .section-second .delivery-type label {
    width: 50% !important;
    padding: 9px 2px !important;
    font-size: 14px !important;
  }
  .checkout-page .section-second .input {
    width: 44%;
    margin-right: 15px;
  }
  .checkout-page .section-second .street {
    width: 100%;
  }
  .checkout-page .section-second .city {
    width: 100%;
  }
  .checkout-page .section-third .input-checkbox {
    width: inherit;
    margin-bottom: 10px;
  }
  .checkout-page .section-third .text {
    line-height: 1.5;
  }
  .checkout-page .right-block {
    width: auto;
    float: none;
  }
  .checkout-page .right-block .field [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .checkout-page .right-block .payment .payment-type label {
    width: 50% !important;
  }
  .delevery-page .section {
    margin-bottom: 30px;
  }
  .delevery-page .section .section-title {
    margin-bottom: 16px;
  }
  .delevery-page .section .section-title .title {
    font-size: 18px;
    margin-top: 5px;
    line-height: 1.5;
  }
  .delevery-page .section .section-title .number {
    margin-right: 8px;
  }
  .delevery-page .section .section-text {
    font-size: 13px;
  }
  .delevery-page .section .info .caption {
    font-size: 13px;
    line-height: 1.33;
  }
  .cart-page .product {
    margin: 0;
  }
  .cart-page .product .image {
    width: 35%;
  }
  .cart-page .product .info {
    width: 63%;
    padding-left: 5px;
  }
  .cart-page .product .info .title {
    font-size: 16px;
    line-height: 1.25;
  }
  .cart-page .product .info .text {
    font-size: 13px;
  }
  .cart-page .product .product-count {
    margin-top: 20px;
  }
  .cart-page .product .product-count .count {
    color: #ffffff;
    background-color: inherit;
  }
  .cart-page .product .product-count .minus {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1.2;
    background: #3a414c;
    border-radius: 50px;
  }
  .cart-page .product .product-count .plus {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1.8;
    background: #79d569;
    border-radius: 50px;
  }
  .cart-page .product .price {
    width: auto;
    margin-top: 20px;
    margin-left: 10px;
  }
  .cart-page .product .price .price {
    font-size: 22px;
  }
  .cart-page .product .delete {
    width: auto;
    margin-top: 19px;
    float: right;
  }
  .cart-page .product .delete a {
    float: right;
    background: red;
    padding: 10px;
    border-radius: 50px;
  }
  .cart-page .product .delete .lg {
    display: none !important;
  }
  .cart-page .product .delete .xs {
    display: block !important;
  }
  .cart-page .block-summa {
    padding: 32px 0 40px 0;
    box-shadow: none;
  }
  .cabinet-page .user-block {
    padding: 5px;
    margin-right: 0;
  }
  .cabinet-page .user-block .image {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
  }
  .cabinet-page .user-block .info {
    padding-left: 0;
  }
  .cabinet-page .user-block .more-info .field .name {
    font-size: 13px;
  }
  .cabinet-page .right-block {
    margin-top: 25px;
    margin-left: 0;
  }
  .cabinet-page .right-block .menu-cabinet ul li {
    margin: 10px 5px;
  }
  .cabinet-page .right-block .order .inline-wrapper {
    margin: 7px 0px;
    width: 100% !important;
    text-align: left !important;
  }
  footer {
    background: #162235;
    padding-bottom: 25px;
  }
  footer .social {
    text-align: center;
    margin-bottom: 15px;
  }
  footer .phones {
    text-align: center;
    margin-bottom: 25px;
  }
  footer .phones li a {
    font-size: 16px;
  }
  footer .logo-company ul {
    text-align: center;
  }
  footer .logo-company ul li {
    display: inline-block;
    margin: 0 10px;
  }
  footer .copyright {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=mobile.css.map */